---
---

$ThemeColor1: darkgray;
$ThemeTextColor1: black;

$ThemeColor2: lightgray;
$ThemeTextColor2: black;

html {
	width: 100%;
	height: 100%;
	height: 100%;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	margin: 0;
	height: 100vh;
    background-color: $ThemeColor1;
}
a {
//	color: blue;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	&:hover {
		color: forestgreen;
	}
	&:focus {
		color: forestgreen;
	}
}
p {
	font-size: 16px;
	line-height: 1.5;
}
header {
	position: relative;
	width: 100%;
	min-height: auto;
	text-align: center;
	color: #000;
	text-shadow: lightgray 0px 0px 20px, lightgray 0px 0px 20px, lightgray 0px 0px 20px, lightgray 0px 0px 20px;
	background-image: url('../images/shaggy_peak_orange_before.jpg');
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: ı cover;
	background-size: cover;
	-o-background-size: cover;
	.header-content {
		color: #000;
		position: relative;
		width: 100%;
		padding: 100px 15px 70px;
		text-align: center;
		font-family: "Helvetica Neue", Courier, monospace;
		font-weight: 900;
		.header-content-inner {
			h1 {
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 50px;
			}
			p {
				margin-bottom: 50px;
				font-size: 16px;
				color: #000;
				//color: rgba(255,255,255,.7);
			}
		}
	}
}
.backgroundRed {
	background: $ThemeColor1;
	color: #B8B4AD;
}
.section-heading {
	margin-top: 0;
	margin-bottom: 20px;
}
.intro {
	color: #000;
	background-color: $ThemeColor1;
	padding: 70px 0;
	text-align: center;
//	h1 {
//		font-family: "Courier New", Courier, monospace;
//	}
}
.content {
	padding: 50px 0;
//	font-family: "Courier New", Courier, monospace;
//	text-align: center;
	h1 {
		text-align: center;
		font-weight: bold;
	}
}
.oddsection {
	background-color: $ThemeColor1;
    color: $ThemeTextColor1;
}
.evensection {
	background-color: $ThemeColor2;
    color: $ThemeTextColor2;
}
.content-2 {
	padding: 20px 0;
	background-color: $ThemeColor1;
//	font-family: "Courier New", Courier, monospace;
}
.content-3 {
	padding: 20px 0 40px;
	text-align: center;
	.glyphicon {
		font-size: 32px;
		font-weight: 700;
	}
}
.promo {
	color: white;
	text-shadow: 0px 0px 40px black;
	text-decoration: none;
	h3 {
		color: white;
		text-shadow: 0px 0px 40px black;
		text-decoration: none;
	}
	a {
		&:link {
			color: white;
			text-shadow: 0px 0px 40px black;
			text-decoration: none;
		}
		&:visited {
			color: white;
			text-shadow: 0px 0px 40px black;
			text-decoration: none;
		}
		&:hover {
			color: white;
			text-shadow: 0px 0px 40px black;
			text-decoration: none;
		}
		&:active {
			color: white;
			text-shadow: 0px 0px 40px black;
			text-decoration: none;
		}
	}
}
.promo-item {
	height: 200px;
	line-height: 180px;
	text-align: center;
	&:hover {
		background-size: 110%;
		border: 10px solid rgba(255,255,255,0.3);
		line-height: 160px;
	}
	h3 {
		font-size: 40px;
		display: inline-block;
		vertical-align: middle;
	}
}
//.item-1 {
//	background: url('../images/writing.jpg');
//	background-size: cover;
//	background-position: 50% 50%;
//}
//.item-2 {
//	background: url('../images/concert.jpg');
//	background-size: cover;
//	background-position: 50% 50%;
//}
//.item-3 {
//	background: url('../images/pencil_sharpener.jpg');
//	background-size: cover;
//	background-position: 50% 50%;
//}
.lead {
	text-align: justify;
	padding: 30px 50px;
}
.page-footer {
	text-align: center;
	.contact {
		padding: 100px 0;
//		background-color: #B8B4AD;
//		background-color: #B8B4AD;
		color: #000;
		p {
			font-size: 22px;
			font-weight: 300;
		}
		.glyphicon {
			font-size: 32px;
			font-weight: 700;
		}
	}
	.small-print {
		padding: 50px 0 40px;
		font-weight: 300;
	}
}
.text-light {
	color: rgba(255,255,255,.7);
}
.row {
	event-row {
		background-color: tan;
		opacity: 1;
		text-align: left;
	}
}
#upcoming-events {
	overflow-x: scroll;
}
.event-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 300px;
	height: 250;
	border-color: black;
//	h2 {
//		font-family: "Courier New", Courier, monospace;
//	}
	.col {
		float: center;
		background-color: #B8B4AD;
		width: 33%;
		min-width: 300px;
		border-style: solid;
		margin: auto;
		table {
			padding-left: 5px;
			padding-right: 5px;
			text-align: left;
			border: 0px;
			vertical-align: text-top;
			tr {
				td {
					font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
				}
			}
		}
	}
	img {
		max-height: 250px;
		width: 100%;
	}
}
th {
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border: 0px;
	vertical-align: text-top;
}
td {
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	border: 0px;
	vertical-align: text-top;
}

.blackwithshadow{
    color: black;
    text-shadow: white 0px 0px 5px;
}
.whitewithshadow{
    color: white;
    text-shadow: black 0px 0px 5px;
}


.navbar-default {
	border-color: rgba(34,34,34,.05);
	background-color: rgba($ThemeColor1, 0.75);
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	.navbar-header {
		.navbar-brand {
			color: $ThemeColor1;
			&:hover {
				@extend .whitewithshadow;
			}
			&:focus {
				@extend .whitewithshadow;
			}
		}
	}
	.nav {
		>li {
			>a {
				@extend .blackwithshadow;
				&:focus {
					@extend .whitewithshadow;
					&:hover {
						@extend .whitewithshadow;
					}
				}
				&:hover {
					@extend .whitewithshadow;
				}
			}
		}
		>li.active {
			>a {
				@extend .blackwithshadow;
				background-color: transparent;
				&:focus {
					@extend .whitewithshadow;
					background-color: transparent;
					&:hover {
						background-color: transparent;
					}
				}
				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}
.btn-default {
	border-color: #fff;
	color: #222;
	background-color: #fff;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	&:hover {
		border-color: #eee;
		color: $ThemeColor1;
		background-color: #eee;
	}
	&:focus {
		border-color: #eee;
		color: $ThemeColor1;
		background-color: #eee;
	}
	&:active {
		border-color: #eee;
		color: $ThemeColor1;
		background-color: #eee;
		background-image: none;
	}
	.badge {
		color: #fff;
		background-color: #222;
	}
}
.btn-default.focus {
	border-color: #eee;
	color: $ThemeColor1;
	background-color: #eee;
}
.btn-default.active {
	border-color: #eee;
	color: $ThemeColor1;
	background-color: #eee;
	background-image: none;
}
.open {
	>.dropdown-toggle.btn-default {
		border-color: #eee;
		color: $ThemeColor1;
		background-color: #eee;
		background-image: none;
	}
	>.dropdown-toggle.btn-primary {
		border-color: limegreen;
		color: #fff;
		background-color: limegreen;
		background-image: none;
	}
}
.btn-default.disabled {
	border-color: #fff;
	background-color: #fff;
	&:hover {
		border-color: #fff;
		background-color: #fff;
	}
	&:focus {
		border-color: #fff;
		background-color: #fff;
	}
	&:active {
		border-color: #fff;
		background-color: #fff;
	}
}
.btn-default[disabled] {
	border-color: #fff;
	background-color: #fff;
	&:hover {
		border-color: #fff;
		background-color: #fff;
	}
	&:focus {
		border-color: #fff;
		background-color: #fff;
	}
	&:active {
		border-color: #fff;
		background-color: #fff;
	}
}
fieldset[disabled] {
	.btn-default {
		border-color: #fff;
		background-color: #fff;
		&:hover {
			border-color: #fff;
			background-color: #fff;
		}
		&:focus {
			border-color: #fff;
			background-color: #fff;
		}
		&:active {
			border-color: #fff;
			background-color: #fff;
		}
	}
	.btn-default.focus {
		border-color: #fff;
		background-color: #fff;
	}
	.btn-default.active {
		border-color: #fff;
		background-color: #fff;
	}
	.btn-primary {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
		&:hover {
			border-color: $ThemeColor1;
			background-color: $ThemeColor1;
		}
		&:focus {
			border-color: $ThemeColor1;
			background-color: $ThemeColor1;
		}
		&:active {
			border-color: $ThemeColor1;
			background-color: $ThemeColor1;
		}
	}
	.btn-primary.focus {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
	}
	.btn-primary.active {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
	}
}
.btn-default.disabled.focus {
	border-color: #fff;
	background-color: #fff;
}
.btn-default[disabled].focus {
	border-color: #fff;
	background-color: #fff;
}
.btn-default.disabled.active {
	border-color: #fff;
	background-color: #fff;
}
.btn-default[disabled].active {
	border-color: #fff;
	background-color: #fff;
}
.btn-primary {
	border-color: $ThemeColor1;
	color: #fff;
	background-color: $ThemeColor1;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
	&:hover {
		border-color: limegreen;
		color: #fff;
		background-color: limegreen;
	}
	&:focus {
		border-color: limegreen;
		color: #fff;
		background-color: limegreen;
	}
	&:active {
		border-color: limegreen;
		color: #fff;
		background-color: limegreen;
		background-image: none;
	}
	.badge {
		color: #fff;
		background-color: #fff;
	}
}
.btn-primary.focus {
	border-color: limegreen;
	color: #fff;
	background-color: limegreen;
}
.btn-primary.active {
	border-color: limegreen;
	color: #fff;
	background-color: limegreen;
	background-image: none;
}
.btn-primary.disabled {
	border-color: $ThemeColor1;
	background-color: $ThemeColor1;
	&:hover {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
	}
	&:focus {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
	}
	&:active {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
	}
}
.btn-primary[disabled] {
	border-color: $ThemeColor1;
	background-color: $ThemeColor1;
	&:hover {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
	}
	&:focus {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
	}
	&:active {
		border-color: $ThemeColor1;
		background-color: $ThemeColor1;
	}
}
.btn-primary.disabled.focus {
	border-color: $ThemeColor1;
	background-color: $ThemeColor1;
}
.btn-primary[disabled].focus {
	border-color: $ThemeColor1;
	background-color: $ThemeColor1;
}
.btn-primary.disabled.active {
	border-color: $ThemeColor1;
	background-color: $ThemeColor1;
}
.btn-primary[disabled].active {
	border-color: $ThemeColor1;
	background-color: $ThemeColor1;
}
.btn {
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-lg {
	padding: 15px 30px;
}
//&::-moz-selection {
//	text-shadow: none;
//	color: #fff;
//	background: #222;
//}
//&::selection {
//	text-shadow: none;
//	color: #fff;
//	background: #222;
//}
img {
	&::selection {
		color: #fff;
		background: 0 0;
	}
	&::-moz-selection {
		color: #fff;
		background: 0 0;
	}
}
.text-primary {
	color: gray;
}
.bg-primary {
	background-color: $ThemeColor1;
}
* {
	box-sizing: inherit;
	&:before {
		box-sizing: inherit;
	}
	&:after {
		box-sizing: inherit;
	}
}
//@mixin {
//	center() {
//		display: flex;
//		justify-content: center;
//		align-items: center;
//	}
//}
//@media {
//    min-width:768px;
//	header {
//		min-height: 100%;
//		.header-content {
//			position: absolute;
//			top: 50%;
//			padding: 0 50px;
//			-webkit-transform: translateY(-50%);
//			-ms-transform: translateY(-50%);
//			transform: translateY(-50%);
//			.header-content-inner {
//				margin-right: auto;
//				margin-left: auto;
//				max-width: 1000px;
//				h1 {
//					font-size: 100px;
//				}
//				p {
//					margin-right: auto;
//					margin-left: auto;
//					max-width: 80%;
//					font-size: 18px;
//				}
//			}
//		}
//	}
//	.navbar-default {
//		border-color: $ThemeColor1;
//		background-color: transparent;
//		.navbar-header {
//			.navbar-brand {
//				color: $ThemeColor1;
//				letter-spacing: 0.5em;
//				&:hover {
//					color: $ThemeColor1;
//				}
//				&:focus {
//					color: $ThemeColor1;
//				}
//			}
//		}
//		.nav {
//			>li {
//				>a {
//					color: $ThemeColor1;
//					&:focus {
//						color: $ThemeColor1;
//						&:hover {
//							color: $ThemeColor1;
//						}
//					}
//					&:hover {
//						color: $ThemeColor1;
//					}
//				}
//			}
//		}
//	}
//	.navbar-default.affix {
//		border-color: $ThemeColor1;
//		background-color: #B8B4AD;
//		box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
//		.navbar-header {
//			.navbar-brand {
//				letter-spacing: 0;
//				color: $ThemeColor1;
//				&:hover {
//					color: $ThemeColor1;
//				}
//				&:focus {
//					color: $ThemeColor1;
//				}
//			}
//		}
//		.nav {
//			>li {
//				>a {
//					color: $ThemeColor1;
//					&:focus {
//						color: $ThemeColor1;
//						&:hover {
//							color: $ThemeColor1;
//						}
//					}
//					&:hover {
//						color: $ThemeColor1;
//					}
//				}
//			}
//		}
//	}
//}


.demo_container{
    outline: solid 2px grey;
    
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    
    .spacer_cell{
        width:10%;
//        white-space: normal;
        display: inline-block;
        
        justify-content: center;
        
    }
    
    .demo_cell {    
        width: 80%;
        white-space: normal;
        display: inline-block;
        
        .caption{
            width:80%;
            text-align: justify;
            text-justify: inter-word;
            margin: 0 auto;
        }
        
        .iframe{
            width:80%;
            aspect-ratio:1.78;
        }
    }
}


