// https://stackoverflow.com/a/57424477/851699



.switch-toggle {
   float: left;
   background: #242729;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
  width:100;
}
.switch-toggle input + label {
/*  padding: 7px;*/
  background: #666;
  width: 33.33%;
  text-align: center;
  float:left;
  color: #fff;
  cursor: pointer;
}
.switch-toggle input:checked + label {
  background: #6e9be7ff;
}


.imswitch{
    position: relative;
    display:inline;
}

.imswitch img {
    width:100%;
    z-index: 0
    
/*
   top: -12px;
   left: -12px;
*/
}


.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
width: 100%;
}


.imswitch .img_boxed{
  position: absolute;
  top: -1;
  right: 0;
  display: none;
}

.imswitch .img_warped{
  position: absolute;
  top: -1;
  right: 0;
  display: none;
}


/* Prevents accidental horizontal scroll of entire website.*/
/*
html, body {
    max-width: 100%;
    overflow-x:hidden;
}
*/

/*
.imswitch .img_boxed {
  position: absolute;
  top: -1;
  right: 0;
  display: none
}
*/

/*

.imswitch .overlay img {
    position: absolute;
    bottom=0;
    right=0;
    z-index: 100;
}
*/




/*
.imswitch .img_warped {
      position: absolute;
  bottom: 0;
  right: 0;
    z-index: 2
}
*/

