// https://stackoverflow.com/a/57424477/851699


.switch-toggle {
   float: left;
   background: #242729;
}

.switch-toggle input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.switch-toggle input + label {
  background: #666;
  width: 32%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.switch-toggle input:checked + label {
  background: #6e9be7ff;
}

.imswitch{
    position: relative;
    top:0;
    left:0;
}

.imswitch img {
    width:100%;
}

.imswitch .img_boxed,.img_warped{
  position: absolute;
  opacity: 0;
  left: 0;
  top:0;
}
