---
layout: ee_page_layout
title: Eagle Eyes - Buy a License
permalink: /buy_license.html
---

<head>
{% include login_page_head.html %}
</head>
</br>
<section id="login_title" hidden>
    </br>
    <h2 style="text-align: center;">Eagle Eyes Login</h2>
</section>
    <div style="display: flex; justify-content: center;">
        {% include signinWidget.html %}
    </div>
<section id="pricing_content" style="font-size: 80%;" hidden>

    {% include compare_tiers.html %}
    </br>

    {% include pricing_table_new.html clickable=true %}

    </br>
    <div style="text-align: center;">
        <div style="font-size: 85%; margin-top: 10px;">* If you have not already registered for a SAR license, you will be directed to register first.</div>
        <button id="purchaseButton" class="purchase-button" disabled>Select a License type to Purchase</button>
        <!-- Light grey text under button that users will need to register for approval before making a purchase -->
    </div>

    <div id="status-message"></div>
</section>

<script>
    var globalUser = null;
    $("#pricing_content").hide();
    $("#login_title").show(); 

    document.addEventListener('signInComplete', function (e) {
        globalUser = e.detail.user;
        console.log('signInComplete event received:', globalUser);
        $("#login_title").hide();
        $("#pricing_content").show();
    });

    document.addEventListener('DOMContentLoaded', function() {
    const purchaseButton = document.getElementById('purchaseButton');

        // Initially disable the purchase button until a price is selected
        purchaseButton.disabled = true;
        purchaseButton.classList.remove('enabled');

        // Listen for the priceSelected event from the pricing table
        document.addEventListener('priceSelected', function(e) {
            purchaseButton.disabled = false; // Enable the button when a price is selected
            purchaseButton.classList.add('enabled'); // Add the 'enabled' class for visual change
            purchaseButton.innerText = `Purchase ${e.detail.name} License`; // Update the button text
            purchaseButton.onclick = () => purchase(e.detail.product_id); // Assign the purchase function with the selected price
        });

        // Optionally handle price deselection or resetting
        document.addEventListener('clearSelections', function() {
            purchaseButton.disabled = true; // Disable the button
            purchaseButton.classList.remove('enabled'); // Remove the 'enabled' class for visual revert
        });
    });

    function purchase(product_id) {
        console.log("Purchasing product with id:", product_id);
        
        var purchaseButton = $('#purchase');
        
        // Add a "processing" class to indicate activity
        purchaseButton.addClass('processing');
        
        // Use the existing URL query string and append the product_id
        // var hostURL = 
        var queryString = hostURL.search;
        if (queryString.length > 1) {
            queryString += `&product_id=${product_id}`;
        } else {
            queryString = `?product_id=${product_id}`;
        }
        // Include all url arguments passed in to this url
        var url = `${hostURL}/get_stripe_payment_link${queryString}&${window.location.search.slice(1)}`;
        console.log('Fetching payment link from:', url);

        // Get the user ID token and then execute the AJAX request
        globalUser.getIdToken(true).then(function (idToken) {
            $.ajax({
                headers: {'Authorization': 'Bearer ' + idToken},
                url: url,
                method: 'GET',
                success: function (data) {
                    // Upon success, remove "processing" class and handle the received data
                    purchaseButton.removeClass('processing');
                    console.log('Received data:', data);
                    var decodedData = JSON.parse(data);
                    var paymentUrl = decodedData.url;
                    
                    // Open the Stripe checkout in a new tab
                    // window.open(paymentUrl, '_blank');
                    // Don't do new tab
                    window.location.href = paymentUrl;
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // Handle any errors during the AJAX request
                    purchaseButton.removeClass('processing');
                    // requestErrorHandler(jqXHR, textStatus, errorThrown);
                    // error_message = jqXHR.responseJSON.error;
                    console.log(jqXHR)
                    responseText = jqXHR.responseText;
                    console.error('Error fetching payment link:', responseText);
                    $('#status-message').text('Error fetching payment link: ' + responseText).addClass('error-box');
                }
            });
        }).catch(function (error) {
            // Handle errors in getting the ID token
            console.log('Error getting user ID token:', error);
            purchaseButton.removeClass('processing');
            // Put error message in status and add class error-box
            $('#status-message').text('Error getting user ID token: ' + error);
            $('#status-message').addClass('error-box');

        });
    }



</script>
