---
layout: ee_page_layout
title: Get Eagle Eyes Scan
permalink: /get_scan2/
---

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Eagle Eyes Scan</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="custom-stylesheet" href="/css/form_buttons_and_boxes.css?t=[timestamp]">
    {% include form_styling.html %}

</head>
<body>   
    <section id="signin-explainer" style="display: flex; justify-content: center; align-items: center;">
        <h1>Download Eagle Eyes Scan</h1>
        </br>
        <h3>Step 1: Sign in</h3>
    </section>
    <section id="signin" style="display: flex; justify-content: center; align-items: center;">
        {% include signinWidget.html %}
    </section>
    <section id="form-container" class="form-container" hidden>
        <h1 style="text-align: center;">Download Eagle Eyes Scan</h1>
        <p>Tell us a bit about yourself. Complete this short form, and you'll receive your download link immediately.</p>
    {% include form.html form_type='signup' %}
    </section>

    <div style="display: flex; justify-content: center; align-items: center;" hidden>
        <div id="hang-on-message" class="info-box" >Hang on a moment while we get your download link...</div>
    </div>

    <div style="display: flex; justify-content: center; align-items: center;">
        <div id="welcome-back-message" class="info-box" hidden>
        </div>
    </div>

    <div id="download-button-div" hidden>

        <!-- Software version list-selection (list-selection that we populate in javascript) -->
        <div style="display: flex; justify-content: center; align-items: center;">
            <div>
                <label for="software_version"><b>Software version: </b>
                <select id="software_version" name="software_version" required>
                    <option value="" disabled selected>Select software version</option>
                </select></label>
            </div>
        </div>

        <br />

        <div style="display: flex; justify-content: center; align-items: center;">
            <button onclick="submitForm()">Submit and start download</button>
        </div>
        <br />

        <span id="downloadStatus" style="font-size: 0.8em;color:lightgray;"></span>


        <!-- Tiny grey font -->

    </div>
    <!-- <button id="download-button" type="submit" class="registerbtn" hidden>Submit and start download</button> -->
    <br />



    <section id="post-form" class="info-box" hidden>
        Your download should have begun automatically.
        If it didn't, you can click <a id="download-link" href="">here</a> to download it manually.
        <br /><br />
        This download of Eagle Eyes Scan comes with a free license with useful but limited functionality.
        To enable the detection system, report generation, and livestreaming, you can request a full license 
        by clicking the "🔑" button from the app and follwing instructions from there.

        <br /><br />
        More questions? Consult the     <a
            href="https://docs.google.com/document/d/12mhRVmhtQUfvJHy7tI7mB_oLd3aRqYJJPWzKlhKnTwY/edit?usp=sharing">User Manual</a>.

        <!-- Add button to return to home page -->
        <br />
        <button onclick="location.href='/'" class="non_important_button">Return to home page</button>
    </section>

<br />
<br />
<div style="display: flex; justify-content: center; align-items: center;">
    <span style="font-size: 0.8em;color:lightgray;">
    Problems with signin or download? Contact us at info@eagleeyessearch.com
    </span>
</div>
<script>

        $("#hang-on-message").hide();

        var globalUser = null;

        var backUpLinkOrNull = null;
        console.log("Signin widget included");
        document.addEventListener('signInComplete', function (e) {
            /* Handle the event:
            CustomEvent('signInComplete', { detail: { user: user } })
            Generated by the signinWidget.html inclusion
            */
            globalUser = e.detail.user;
            console.log('signInComplete event received: ' + globalUser);

            // Send a request to the server to see if the user has already filled out the form. 
            // If they have not - show it, if they have, show a greeting message and the download link.
            hostURL = getHostUrl();
            var fetch_url = hostURL + '/has_user_already_filled_in_form';
            console.log("Checking URL: " + fetch_url);
            $("#hang-on-message").show();
            globalUser.getIdToken(true).then(function (idToken) {
                $.ajax({
                    url: fetch_url,
                    type: 'GET',
                    headers: {

                        'Authorization': 'Bearer ' + idToken

                    },
                    success: function (data) {
                        $("#signin-explainer").hide();
                        $("#hang-on-message").hide();

                        console.log("Got reply from has_user_already_filled_in_form: " + data);
                        data = JSON.parse(data);
                        formOrNull = data.form
                        backUpLinkOrNull = data.backupLink;
                        if (formOrNull === null) {
                            console.log('user did not fill in form yet');
                            $("#form-container").show();
                            $("#download-button-div").show();
                        } else {
                            // Show a welcome back message with name and team 
                            console.log('user filled in form already');
                            userName = formOrNull.name || "(Unknown user)";
                            userTeam = formOrNull.team || "(Unknown team)";
                            $("#welcome-back-message").text("Welcome back. Your download link is below.");
                            $("#welcome-back-message").show();
                            // Set Download button text to "Downlaod again" (it's the only button in the div)
                            $("#download-button-div button").text("Download again");
                            $("#download-button-div").show()
                        }
                    },
                    error: requestErrorHandler,
                });
            });
        });



    window.addEventListener('DOMContentLoaded', function () {
        /*

        Software version list-selection (list-selection that we populate in javascript)
        <label for="software_version"><b>Software version: </b></label>
        <select id="software_version" name="software_version" required>
            <option value="" disabled selected>Select software version</option>
        </select>
        <br />
        */
        windowsDefault = 'EagleEyesScanInstaller_0.5.1rc6_Windows_x86_64.exe';
        macDefault = 'EagleEyesScan_0.5.1rc6_MacOS_arm64.zip';
        var softwareVersions = [
            //'EagleEyesScan_0.4.3_MacOS_arm64.zip',
            // 'EagleEyesScan_0.5.0rc2_MacOS_arm64.zip',
            // 'EagleEyesScan_0.5.0rc3_MacOS_arm64.zip',
            // 'EagleEyesScan_0.5.0rc4_MacOS_arm64.zip',
            // 'EagleEyesScan_0.5.0rc5_MacOS_arm64.zip',
            'EagleEyesScan_0.5.0rc6_MacOS_x86_64.zip',
            // 'EagleEyesScan_0.5.0rc7_MacOS_arm64.zip',
            // 'EagleEyesScan_0.4.3_Windows_x64.zip',
            //'EagleEyesScan_0.4.5_Windows_x86_64.zip',
            // 'EagleEyesScan_0.5.0rc2_Windows_x86_64.zip',
            // 'EagleEyesScan_0.5.0rc3_Windows_x86_64.zip',
            // 'EagleEyesScan_0.5.0rc4_Windows_x86_64.zip',
            windowsDefault,
            macDefault,
        ];
        var selectElement = document.getElementById('software_version');
        var os = navigator.platform.toLowerCase();

        softwareVersions.forEach(function (version) {
            var optionElement = document.createElement('option');
            optionElement.value = version;
            optionElement.textContent = version;

            if (os.includes('mac') && (version === macDefault)) {
                optionElement.selected = true;
            } else if (os.includes('win') && (version === windowsDefault)) {
                optionElement.selected = true;
            }

            selectElement.appendChild(optionElement);
        });
    });

</script>

</body>