---
layout: default
---



<!-- Edit this line and commit to force page regeneration 5 -->

<!-- 
% include navbar.html %
ADD BRACES to re-add
-->

<header>
    <img src="/images/eagle_eyes_website_header.jpg" style="width:100%;"/>
</header>


<section class="content evensection">
    {% include whatitis.html %}
</section>


<section class="content oddsection">
    {% include demos.html %}
</section>


<!--
<section class="content evensection" >
    {% include about_us.html %}
</section>
-->

<section class="content evensection" >
    {% include footer.html %}
</section>

{% include jquery_scripts.html %}
