---
layout: default
---


<header>
    <img src="/images/eagle_eyes_website_header_2.jpg" style="width:100%;"/>
</header>



<section class="content evensection" >
    
    
    <div class="lead" id="how" style="text-align: center">
    Eagle Eyes is a computer vision system that will help Search and Rescue teams locate missing persons by drone.
    </div>
<!--
    
     <iframe src="https://drive.google.com/file/d/1BAcSPEEWCvUdZnvrKWBinRIwUdci2CCW/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
-->
<!--
    
    <iframe width="100%" style="aspect-ratio:1.78" src="https://www.youtube.com/embed/OGFzcnLp7oI?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen" allowfullscreen></iframe>
    
-->
    
<div style="width:100%;height:0px;position:relative;padding-bottom:56.250%;"><iframe src="https://streamable.com/e/710hvk?loop=0" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
    
    <div class="lead">

    
    <h1> Eagle Eyes Pilot </h1>
    
    Eagle Eyes Pilot is an Android App with a built-in computer vision system, for piloting DJI drones.  The system scans the live video stream for anomalies, brings any detections to the attention of the operator, and records their coordinates on the map.  The app enables the operator to easily switch between visual and thermal camera, and records a database of detections for review. 
        
    
    <div style="width:70%;height:0px;position:relative;padding-bottom:56.250%;margin: auto"><iframe src="https://streamable.com/e/tw9zs8?loop=0" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>
    
        
    
    <h1> Eagle Eyes Scan </h1>
    
    Eagle Eyes Scan is a desktop app for scanning through pre-recorded drone footage for anomalies.  It enables the operator to scan through video, zoom, pan, switch to thermal, and review detections with ease.  Eagle Eyes scan is currently available for MacOS.  Windows and Linux versions are in the works.  

    <div style="width:70%;height:0px;position:relative;padding-bottom:56.250%;margin: auto"><iframe src="https://streamable.com/e/udf9nd?loop=0" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>

    
<!--
        
        Eagle Eyes is a computer vision and geolocation system, designed to help drone operators spot things that they may normally miss in search and rescue operations.  It consists of an Android App and a Video Scanner.
        <ul>
            <li>
                The Android App is shown in the above video.  It is used to pilot DJI drones, scan the live video stream for anomalies, bring them to the attention of the operator, and record their coordinates on the map.
            </li>
            <li>
                The Video Scanner scans through pre-recorded video on your computer and presents the operator with a set of detections and their positions.
            </li>
        </ul>
-->

        <!-- Include blog.html -->
        {% include blog.html %}
            

        
        
        <br/><br/>


        <div style="text-align: center;">
            Eagle Eyes is under development.  As of March 2023, we are preparing the first prototype for deployment.
            <br/><br/>

            <a href="https://forms.gle/C6zmhQBYRPzKUJ6G7" target="_blank">
                <button style="background-color: #1da1f2; color: white; font-size: 40px;">Get Eagle Eyes</button>
            </a>
        </div>

        <br/><br/>
        If you are interested in what is going on at EagleEyes, whether to try the app, collaborate, invest, or simply keep up to date, please contact us: 
    </div>

    {% include footer.html %}
</section>

{% include jquery_scripts.html %}
