---
layout: default
---


<link rel="stylesheet" href="css/sliders.css">
<link rel="icon" href="images/favicon-32x32.png" >

<!-- Edit this line and commit to force page regeneration 3 -->

{% include navbar.html %}
{% include header.html %}


<section class="content evensection">
    {% include whatitis.html %}
</section>


<section class="content oddsection">
    {% include demos.html %}
</section>


<section class="content evensection" >
    {% include about_us.html %}
</section>

<section class="content oddsection" >
    {% include footer.html %}
</section>

{% include jquery_scripts.html %}
