---
layout: main
title: Newsletter
permalink: /newsletter/
---

<style>
    .newsletter-page {
        padding-top: 80px;
    }
    #newsletter-signup h3 {
        font-size: 2.5em !important;
        font-weight: 600 !important;
        margin-bottom: 20px !important;
    }
    #newsletter-signup h4 {
        font-size: 1.2em !important;
        margin-bottom: 20px !important;
    }
    #newsletter-signup.section-block {
        padding-top: 40px !important;
        padding-bottom: 80px !important;
    }
    
    /* Mobile adjustments */
    @media (max-width: 768px) {
        .newsletter-page {
            padding-top: 60px;
        }
        #newsletter-signup.section-block {
            padding-top: 30px !important;
            padding-bottom: 60px !important;
        }
        #newsletter-signup h3 {
            font-size: 2em !important;
            margin-bottom: 15px !important;
        }
        #newsletter-signup h4 {
            font-size: 1.1em !important;
            margin-bottom: 15px !important;
        }
    }
</style>

<div class="content clearfix reveal-footer">
    <div class="newsletter-page">
        {% include newsletter-signup.html %}
    </div>
    {% include footer.html %}
</div>

