---
layout: main
permalink: /pricing/
---

<style>
    .section-container {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em; /* Default whitespace between sections */
    }
    
    /* Make the "Get Eagle Eyes" button invisible but keep its space in the navbar */
    .navigation.secondary-navigation .v-align-middle a.button[href="{{ '/pricing/' | relative_url }}"] {
        visibility: hidden;
        opacity: 0;
        pointer-events: none; /* Make it non-clickable */
    }
</style>


{% include pricing-table.html %}
{% include footer.html %}