---
layout: default
---


{% include return_image_link.html %}


<section class="content evensection">
    
    <img src="/images/eagle_eyes_team.jpg" style="width:100%">
   
    <div class="lead">
        # Eagle Eyes Search Privacy Policy

        **Effective Date: February 17, 2025**
        
        ## 1. Introduction  
        
        Welcome to Eagle Eyes Search Inc ("we," "our," "us"). Your privacy is important to us. This Privacy Policy explains how we handle your information when you use our mobile application, **Vocal Coords (Converter)** (the "App").
        
        By using our App, you acknowledge that we do not collect, store, or share any user data.
        
        ## 2. Data Collection and Retention  
        
        We do not collect or retain any user data. The **Vocal Coords (Converter)** app operates without requiring personal information, location data, or any other identifiable details.
        
        ## 3. Third-Party Services  
        
        Our App may contain links to third-party websites or services that could collect personal information. We are not responsible for their privacy practices and encourage users to review their privacy policies.
        
        ## 4. App Distribution  
        
        Our app, **Vocal Coords (Converter)**, is available for download on the Google Play Store and Apple App Store. Users should review the respective store policies regarding data collection, permissions, and usage, as we do not collect or store any personal data ourselves.
        
        ## 5. Changes to This Policy  
        
        We may update this Privacy Policy periodically. Any changes will be posted with an updated **Effective Date**.
        
        ## 6. Contact Us  
        
        If you have any questions or concerns about this Privacy Policy, you can contact us at:
        
        Eagle Eyes Search Inc
        38016 Cleveland Ave P1159, Squamish BC, Canada V8B 0A1
        Email: info@eagleeeyssearch.com
        Website: https://www.eagleeyessearch.com/
        
    </div>
    
    {% include footer.html %}

</section>
