---
layout: redirect
permalink: /register/
redirect_to: "/account/"
---

<!--
To do:
- Create a request_handler named "submit_register_form" inspired by "generate_download_link" that makes use of "add_signup_form_data_to_database" to submit the data into the database
- Add the "submit_register_form" to the API in main.py
- Add isEmulator logic from get_licensed page to be able to test this page locally using firebase emulator
- Test function locally
- Create function "retrieveExistingData" to prefill the form with details from get_scan form
- Create function "isFormAlreadyCompleted()" to redirect users directly to the next page
-->


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for Eagle Eyes Search</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="custom-stylesheet" href="{{ '/css/form_buttons_and_boxes.css' | relative_url }}?t=[timestamp]">
    {% include form_styling.html %}
</head>

<body>   
    <section id="signin" style="display: flex; justify-content: center; align-items: center;" hidden>
        <br/><br/><br/>
        {% include signinWidget.html %}
    </section>
    <section id="form-container" class="form-container" hidden>
        <h1 style="text-align: center;">Register for an Eagle Eyes Search license</h1>
        <p>Purchasing an Eagle Eyes Searchlicense requires registration. Please complete this form to register your organisation. We will process new request within 3 business days. Upon approval, you will be able to purchase a license using the email address above. Any quesiton can be sent to info@eagleeyessearch.com </p>
        {% include form.html form_type='register' %}
        <br/>
        <div id="submit-container">
            <button id="submitButton" onclick="clickButton()" type="submit">Submit</button>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <div id="status" style="max-width: 550px; text-align: center; font-size: 70%; font-style: italic; color: red" hidden>Please complete all required fields</div>
        </div>
    </section>
    <br/>


    <div style="display: flex; justify-content: center; align-items: center;" hidden>
        <div id="hang-on-message" class="info-box" ></div>
    </div>

    <section id="post-form" class="info-box" hidden> 
        <div id="checking-licenses-box" class="info-box" >Your registration request was submitted successfully. <br/>We will process new requests and email you within 3 business days. <br/>Please reach out to info@eagleeyessearch.com if you have any questions.</div>
    </section>

<script>

    $("#hang-on-message").hide();

    var globalUser = null;

    var backUpLinkOrNull = null;
    console.log("Signin widget included");
    document.addEventListener('signInComplete', function (e) {
        /* Handle the event:
        CustomEvent('signInComplete', { detail: { user: user } })
        Generated by the signinWidget.html inclusion
        */
        globalUser = e.detail.user;
        console.log('signInComplete event received: ' + globalUser);

        // Send a request to the server to see if the user has already filled out the form. 
        // If they have not - show it, if they have, show a greeting message and the download link.
        hostURL = getHostUrl();
        var fetch_url = hostURL + '/has_user_already_filled_in_form';
        console.log("Checking URL: " + fetch_url);
        $("#hang-on-message").text("Hang on a moment while we get everything ready for you...").show();
        globalUser.getIdToken(true).then(function (idToken) {
            $.ajax({
                url: fetch_url,
                type: 'GET',
                headers: {
                    'Authorization': 'Bearer ' + idToken
                },
                success: function (data) {
                    $("#signin-explainer").hide();
                    $("#hang-on-message").hide();
                    console.log("Got reply from has_user_already_filled_in_form: " + data);
                    data = JSON.parse(data);
                    console.log(data);
                    formOrNull = data.form;
                    if (formOrNull === null) {
                        console.log('User did not fill in form yet.');
                        $("#form-container").show();
                        $("#submit-container").show();
                    } else {
                        populateForm(formOrNull);
                        $("#form-container").show();
                        $("#submit-container").show();
                    }
                },
                error: requestErrorHandler,
            });
        });
    });

</script>
    
</body>