<div id="about-us">
    <h1>About us</h1>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive img-circle center-block" src="images/amsterdam_aerial.jpg" alt="">
        </div>
        <div class="col-sm-6">
            <p class="lead">
                The Committee of Fun was founded by a bunch of PhD students in Science Park who, desperate to
                escape the jealous embrace of Academia, decided to start an organization dedicated to going out and
                having adventures and generally living life as it should be lived.
                <br/><br/>
                Our other goal is to do as little work as possible to achieve this first goal.  As such we have
                created a mailing list to allow members to launch their own trips.
            </p>
        </div>
    </div>
</div>