<label for="use-case" class="required" style="height: 40px;">What are you interested in using Eagle Eyes for?</label>
<textarea id="use-case" name="use_case" placeholder="To locate ... so I can ..." rows="3" required></textarea>
<label for="trial" class="required" style="display: block; margin-bottom: 10px;">How do you plan to evaluate the success of this 30-day trial?</label>
<input type="text" id="trial" name="trial" placeholder="" style="margin-bottom: 15px; margin-top: 0px;" required>
<label class="required" style="display: block; margin-bottom: 10px;">If the trial is a success, what license are you interested in buying? See our <a href="https://www.eagleeyessearch.com/pricing/" target="_blank">pricing page</a>.</label>
{% include account-questions-license-options.html %}
<div style="background-color: #fafafa; padding: 10px;">
    <label for="meeting" style="margin-bottom: 15px; margin-top: 0px;"><i>We are pleased to offer you a trial license. In return, we kindly request 15 minutes of your time to discuss your goals and provide feedback on the software. You can easily book a convenient time in our calendar using <a href="https://calendar.app.google/4KbMogCjCtBHhbZy9" target="_blank">this link</a>. Your input will help us enhance the software to better serve our users' needs.</i></label>
    <div class="checkboxes" style="margin-bottom: 15px; margin-top: 0px;">
    </div>
</div>
<label for="questions"><b>Questions or remarks:</b> (optional)</label>
<textarea id="questions" name="questions" placeholder="" rows="3" style="margin-bottom: 15px; margin-top: 0px;"></textarea>




