<label for="team"><b>Organization Name:</b> (Optional) Your team/company/agency</label>
<input type="text" id="team" name="team" placeholder="Enter your organization's name" style="margin-bottom: 15px; margin-top: 0px;">

<label for="website"><b>Organization Website:</b> (Optional)</label>
<input type="text" id="website" name="website" placeholder="http://www.example.com" style="margin-bottom: 15px; margin-top: 0px;">

<label for="location"><b>Location:</b> (Optional) City, State/Province, Country</label>
<input type="text" id="location" name="location" placeholder="Example Springs, Examplebama, USA" style="margin-bottom: 15px; margin-top: 0px;">
