<label for="use-case" class="required" style="height: 40px !important">What are you interested in using Eagle Eyes for?</label>
<textarea id="use-case" name="use_case" placeholder="To locate ... so I can ..." rows="3" required></textarea>
<label class="required" style="display: block; margin-bottom: 10px;">What license are you interested in buying? See our <a href="https://www.eagleeyessearch.com/pricing.html" target="_blank">pricing page</a>.</label>
{% include account-questions-license-options.html %}
<label for="questions"><b>Questions or remarks:</b> (optional)</label>
<textarea id="questions" name="questions" placeholder="" rows="3" style="margin-bottom: 15px; margin-top: 0px;"></textarea>
