<label for="team" class="required"><b>Organization Name:</b> Your team/company/agency (enter "Individual" if not applicable)</label>
<input type="text" id="team" name="team" placeholder="Enter your organization's name" style="margin-bottom: 15px; margin-top: 0px;" required>

<label for="website" class="required"><b>Organization Website:</b></label>
<input type="text" id="website" name="website" placeholder="http://www.example.com" style="margin-bottom: 15px; margin-top: 0px;" required>

<label for="location" class="required"><b>Location:</b> City, State/Province, Country</label>
<input type="text" id="location" name="location" placeholder="Example Springs, Examplebama, USA" style="margin-bottom: 15px; margin-top: 0px;" required>

<label for="use-case" class="required" style="height: 40px !important">What are you interested in using Eagle Eyes for?</label>
<textarea id="use-case" name="use_case" placeholder="To locate ... so I can ..." rows="3" required></textarea>
<label class="required" style="display: block; margin-bottom: 10px;">What license are you interested in buying? See our <a href="https://www.eagleeyessearch.com/pricing.html" target="_blank">pricing page</a>.</label>
{% include account-questions-license-options.html %}
<label for="questions"><b>Questions or remarks:</b> (optional)</label>
<textarea id="questions" name="questions" placeholder="" rows="3" style="margin-bottom: 15px; margin-top: 0px;"></textarea>
