<h3 class="pb-40" style="text-align: center; margin-bottom: 0px;">Blog</h3>
<div class="row">
    <div class="column width-12">
        <div class="row grid content-grid-3" style="display: flex; flex-wrap: wrap; justify-content: center;">
            {% assign sorted_posts = site.posts | sort: 'date' %}
            {% for post in sorted_posts %}
            <div class="grid-item">
                <div class="thumbnail rounded img-scale-in" data-hover-speed="1000">
                    <a href="{{ post.url }}">
                        <img src="{{ post.image }}" alt="Your Image" style="width:300px; height: 300px; object-fit: cover">
                        <div class="caption-over-outer">
                            <div class="caption-over-inner v-align-bottom color-white">
                                <p class="lead">{{post.title}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>