
<div id="blog">

  <h1>Blog</h1>

  <div class="demo_container">
    <div class="spacer_cell"></div>

    <!-- Loop through posts in blog folder, showing the page title and image for each -->
    {% for post in site.posts %}

      <div class="demo_cell">

        <div style="position: relative; text-align: center;">
          <a href = "{{ post.url }}">
            <img src="{{ post.image }}" alt="Your Image" style="width: 40%; height: auto; filter: brightness(50%);" >
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width:40%">
              <h2 style="color: white; font-size: 24px;">{{post.title}}</h2>
              <p style="color: white; font-size: 12px;">{{ post.date | date: "%-d %B %Y" }}</p>
            </div>

          </a>
        </div>


      </div>
    {% endfor %}


    <div class="spacer_cell"/>

  </div>

</div>
