<style>
    .button.transparent {
        width: 200px;
        font-size: 16px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        transition: all 0.3s ease;
        cursor: pointer;
        border-radius: 4px;
        padding: 12px 24px;
    }

    .button.transparent:hover {
        background-color: #1e90ff;
        color: #fff;
        border: 1px solid transparent;
    }
</style>

{% if include.button_url %}
<button class="button transparent" onclick="window.location.href='{{ include.button_url | relative_url }}';" {% if include.button_style %}style="{{ include.button_style }}"{% endif %}>
    {{ include.button_text }}
</button>
{% else %}
<button class="button transparent" onclick="{{ include.button_onclick }}" {% if include.button_style %}style="{{ include.button_style }}"{% endif %}>
    {{ include.button_text }}
</button>
{% endif %}