<style>
    .button.black {
        width: 200px;
        font-size: 16px;
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        transition: all 0.3s ease;
        cursor: pointer;
        border-radius: 4px;
        padding: 12px 24px;
    }

    .button.black:hover {
        background-color: #1e90ff;
        color: #fff;
        border: 1px solid transparent;
    }
</style>

<button 
    id="{{ include.button_id | default: 'button-black-button' }}"
    type="{{ include.button_type | default: 'button' }}"
    onclick="{{ include.button_onclick }}"
    class="button black"
    {% if include.button_style %}style="{{ include.button_style }}"{% endif %}>
  {{ include.button_text }}
</button>