<style>
    .button.transparent {
        width: 200px;
        font-size: 14px;
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        margin-right: 50px;
        transition: all 0.3s ease;
        cursor: pointer;
        border-radius: 4px;
    }

    .button.transparent:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
</style>

<button class="button transparent" onclick="{{ include.button_onclick }}">
    {{ include.button_text }}
</button>