<div class="plan-row centered-feature bkg-grey-ultralight" style="padding-top: 0px;">
    <div class="plan-row">
        <div class="column-feature"></div> <!-- Empty for alignment -->
        <div class="column-free"><a href="/get-scan" class="button rounded highighted-button download-button">Download</a></div>
        <div class="column-pro"><a href="/buy_license" class="button rounded highighted-button download-button">Buy</a></div>
    </div>
    <div class="plan-row">
        <div class="column-feature"></div> <!-- Empty for alignment -->
        <div class="column-free"></div> <!-- Empty for alignment -->
        <div class="column-pro"><a href="/trial"><i>Request 30-day trial</i></a></div>
    </div>
</div>
