<div class="feature-table bkg-grey-ultralight" style="padding-bottom: 20px;"> 
    <h3 class="weight-bold mb-30" style="text-align: center">Available Tiers</h3>
    <div class="plan-header">
        <div class="column-feature"></div> <!-- Empty cell for alignment -->
        <div class="column-free"><h3>Free</h3></div>
        <div class="column-pro"><h3>Pro</h3></div>
    </div>
    <div class="plan-row">
        <div class="column-feature">Inspect videos and images</div>
        <div class="column-free"><i class="fas fa-check text-success"></i></div>
        <div class="column-pro"><i class="fas fa-check text-success"></i></div>
    </div>
    <div class="plan-row">
        <div class="column-feature">Organize videos and images in case files</div>
        <div class="column-free"><i class="fas fa-check text-success"></i></div>
        <div class="column-pro"><i class="fas fa-check text-success"></i></div>
    </div>
    <div class="plan-row">
        <div class="column-feature">Automatic Detection-System</br>(real-time and pre-recorded)</div>
        <div class="column-free"><i class="fas fa-times text-danger"></i></div>
        <div class="column-pro"><i class="fas fa-check text-success"></i></div>
    </div>
    <div class="plan-row">
        <div class="column-feature">Analyze live videos and images</div>
        <div class="column-free"><i class="fas fa-times text-danger"></i></div>
        <div class="column-pro"><i class="fas fa-check text-success"></i></div>
    </div>
    <div class="plan-row">
        <div class="column-feature">Annotate videos, frames, and pixels.</div>
        <div class="column-free"><i class="fas fa-times text-danger"></i></div>
        <div class="column-pro"><i class="fas fa-check text-success"></i></div>
    </div>
    <div class="plan-row">
        <div class="column-feature">PDF reports</div>
        <div class="column-free"><i class="fas fa-times text-danger"></i></div>
        <div class="column-pro"><i class="fas fa-check text-success"></i></div>
    </div>
</div>