<div class="plan-row centered-feature bkg-grey-ultralight" style="padding-top: 0px;">
    <div class="plan-row">
        <div class="column-feature"></div> <!-- Empty for alignment -->
        <div class="column-free"><a href="/get-scan" class="button rounded highighted-button download-button">Download</a></div>
        <div class="column-pro"><a href="/buy_license" class="button rounded highighted-button download-button">Buy</a></div>
    </div>
    <div class="plan-row">
        <div class="column-feature"></div> <!-- Empty for alignment -->
        <div class="column-free"></div> <!-- Empty for alignment -->
        <div class="column-pro" style="font-size: 120%; text-decoration: underline; text-decoration-color: #1e90ff"><a href="/trial" style="text-decoration: none;" onmouseover="this.style.textDecoration='underline'; this.style.color='#1e90ff'; this.style.fontWeight='bold';" onmouseout="this.style.textDecoration='none'; this.style.fontWeight='normal';">Request 30-day trial</a></div>
    </div>
</div>
