
<div id="demos">
    
    <h1>Demos</h1>
    
    <div class="lead">
        
    Scroll horizontally below to see all demos, or <a href="https://photos.app.goo.gl/q6krQJxepA3ZQuJf7">Click here to view the album and play the video demos</a>.  Best viewed in horizontal orientation if on mobile.
    
    </div>
    
    <div class="demo_container">
        
        
        <div class="spacer_cell"></div>

                
        <div class="demo_cell">
            <div class="caption">
                <b> Demo in Snowy Scree-Field: </b>
                In this live demo, we show how the Eagle Eyes App can be used to locate a person, save the location and images, and send a message with the coordinates of the detection.
            </div>
             <iframe src="https://streamable.com/e/rnyy1d?loop=0" width="100%" style="aspect-ratio:1.78;background:black;" allow="autoplay"></iframe>
            
<!--            <div style="width:100%;height:0px;position:relative;padding-bottom:47.500%;"><iframe src="https://streamable.com/e/rnyy1d?loop=0" frameborder="0" width="100%" height="100%" allowfullscreen style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;"></iframe></div>-->
            
            <br/>
            
            
        </div>
        
        <div class="demo_cell">
            <div class="caption">
                <b> EagleEyes Walkthrough: </b>
                This 8 minute walkthough demonstrates how to use EagleEyes in the field, from entering initial search coordinates, to automatically detecting the subject with the drone, to using the map to locate the subject on foot.  
            </div>
<!--
            
             <iframe src="https://drive.google.com/file/d/1d5v92MairPp_5V0G60d98TZyFkgJintQ/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
-->

             <iframe src="https://streamable.com/e/9ch5yp?loop=0" width="100%" style="aspect-ratio:1.78;background:black;" allow="autoplay"></iframe>
            
            <br/>
        </div>
        
        <div class="demo_cell">
            <div class="caption">
                <b> App Intro 2: </b>
                Another demonstration of the app being used to scan through a forest.  This one shows some of the false-positives that may come up, due to brightly coloured leaves or flowers.
            </div>
<!--             <iframe src="https://drive.google.com/file/d/1a1RESg2Fp1_N822ChuDDpE1nlNLAgMXA/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>-->
            
        <iframe src="https://streamable.com/e/by75am?loop=0" width="100%" style="aspect-ratio:1.78;background:black;" allow="autoplay"></iframe>
            
            
            
            <br/>
        </div>


        <div class="demo_cell">
            <div class="caption">
                <b> Image-warping on live video: </b>
                This is a screen recording from an early version EagleEyes app while flying the drone in New Mexico.   In this demo, EagleEyes uses pixel-warping to enhance a hard-to-see person.
            </div>
<!--
 
             <iframe src="https://drive.google.com/file/d/135S_yoNKx8hvhuGxv8Dom44yshVIoNmO/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
-->
            
            <iframe src="https://streamable.com/e/99lr5w?loop=0" width="100%" style="aspect-ratio:1.78;background:black;" allow="autoplay"></iframe>
            
            
            <br/>
        </div>
        
        
        <div class="demo_cell">
            <b> Object Detection and Anomolous Colour Spreading: </b>
            In this early concept demo, we show two options for bringing objects to the attention of the operator.
            <iframe src="https://streamable.com/e/0hjhj1?loop=0" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
        </div>
    
        <div class="demo_cell">
            <b> Static 360 Image Analysis: </b>
            In this early concept demo, we show how EagleEyes can help quickly detect small objects in a 360 image.
<!--            <iframe src="https://drive.google.com/file/d/1pXr4r8e4zHPpHQU6oPUHI1f2X6jz7xTM/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>-->
            
            <iframe src="https://streamable.com/e/wt17j9?loop=0" width="100%" style="aspect-ratio:1.78;background:black;" allow="autoplay"></iframe>
            
        </div>
    
        <div class="spacer_cell"/>
        
    </div>
    
</div>
