

<div id="demos">
    
    <h1>Demos</h1>
    
    <div class="lead">
        
    Scroll horizontally below to see all demos, or <a href="https://photos.app.goo.gl/q6krQJxepA3ZQuJf7">Click here to view the album and play the video demos</a>.  Best viewed in horizontal orientation if on mobile.
    
    </div>
    
<!--
    <a href="https://photos.app.goo.gl/q6krQJxepA3ZQuJf7">Click here to view the album and play the video demos</a><br/><br/>
    
<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-carousel-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/q6krQJxepA3ZQuJf7"
  data-title="EagleEyes Demos"
  data-description="6 new items added to shared album"
  data-background-color="#ffffff">
  <object data="https://lh3.googleusercontent.com/ud04H7H2UPfwpoCFrwJwaZZhqW9DjPQbfcRTTNH5y_i39H1LPADZFOoHJaVIBy01dqgjs4Kpbj81zUMkbq-naeP-B7G8W2COln4OsyijH6Q2JpB9vPbcpTAOhbl75bQxB8YVxeSnEVU=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/CfyPRezEl6LYn6mYAvmKeikrNyLeUHy9dEOdVd-yEUHZHcfvU15LfsxQvO1JCOEeu8BHixCJlBTx9GnBLpCHZgL1I3cGn_JkYLBaggWoRnwYDLXhPBtRbQXQ3nSrHzm-BpvsALhksr4=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/4YJT3NM36pRl6adzVt9TBWbar5OGXLwfmtVRXMrtA1w5SGokaCJwvVkjt9VEOtlkfkXVc-_V-Xoj1_xgRC-tLKe4qbzLefy7cBTZrJAKExI1ia4lQSVElN6W3zvXO4W6jNMgmRlgSZE=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/Tz4C56pBn-mHXpPWfeBnNjmhX4jmi3Ox3T4YihV4KoaR78BPcgzag864MXYomb5gwrhIuv2biguMHYpDSqhgWKJADlnaPBo8eQYwKPM2ZTa_hpxlE3cLIN3ekJGj95N0Ng3-SIkL7kQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/GJm-IgzNYtwxwjSULMjXIEi9RNJQsxQERzO3GdUDQqf1Uc78kBxGm3XCQ4tdR9easbta-iE8aIQu85-c1kwXNqLxV4btIDgTH7JVOrgASDJs0OHhZulnfKwFRuUl_Tx5dt7OlnG1a-A=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/7kGQTnLHo6RqvQsGN5efqVMKcBPeCSiY_ttL4Ak63Co0ooLl_jCIcmYoFAWwczkX4Bb_GaCxjyceO31ZYmknIp_wXeQNK4NGGfhyrDRyMU5L_PSsaeEDNwYwn6T72r7qkmgy3pyFG0g=w1920-h1080"></object>
</div>


-->
    
    <div class="demo_container">
        
        
        <div class="spacer_cell"></div>
        
        <div class="demo_cell">
            <div class="caption">
                <b> App Intro </b>
                In this live demo, we show how the Eagle Eyes App can be used to locate a person, save the location and images, and send a message with the coordinates of the detection.
            </div>
             <iframe src="https://drive.google.com/file/d/1a1RESg2Fp1_N822ChuDDpE1nlNLAgMXA/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
            <br/>
        </div>


        <div class="demo_cell">
            <div class="caption">
                <b> Image-warping on live video </b>
                This is a screen recording from the EagleEyes app while flying the drone.   In this demo, EagleEyes uses pixel-warping to enhance a hard-to-see person.
            </div>
 
             <iframe src="https://drive.google.com/file/d/135S_yoNKx8hvhuGxv8Dom44yshVIoNmO/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
            <br/>
        </div>
        
        
        <div class="demo_cell">
            <div class="caption">
                <b> Object Detection on Prerecorded Video </b>
                This is a screen recording from the EagleEyes app while replaying pre-recorded videos through the detection system.  We can see that in certain settings, the app can detect small objects better than a human would.
            </div>
 
             <iframe src="https://drive.google.com/file/d/1N2rr8Uh69NZH1KuyPAs2iiiHIuXY9-SF/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
            <br/>
        </div>
        
        
        <div class="demo_cell">
            <b> Object Detection and Anomolous Colour Spreading </b>
            In this conceptual demo, we show two options for bringing objects to the attention of the operator.
            <iframe src="https://drive.google.com/file/d/1WklOZEyxOvQg6Q-aoUpN7_BIjRUcYb4v/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
        </div>
    
        <div class="demo_cell">
            <b> Static 360 Image Analysis </b>
            In this conceptual demo, we show how EagleEyes can help quickly detect small objects in a 360 image.
            <iframe src="https://drive.google.com/file/d/1pXr4r8e4zHPpHQU6oPUHI1f2X6jz7xTM/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
        </div>
    
        <div class="spacer_cell"/>
        
    </div>
    
</div>
