
<div id="upcoming-events">
    <h1>Events</h1>
    
    <table>
        <tr>
        
            {% comment %}
            {% include event.html 
                name="Ice Skating" 
                image_url = "http://www.iamsterdam.com/remote/ndtrc/Images/20120503/76b6a742-0b67-4ec3-8d7e-1ab21064b656.jpg?width=701&height=394&scale=both&mode=crop&quality=70"
                time="21:00 - 23:00, Thursday March 24, 2016" 
                map_url="https://www.google.nl/maps/place/Jaap+Eden+IJsbaan/@52.349073,4.9449697,15z/data=!4m2!3m1!1s0x0:0x4cac70cc8cbf8232"
                address="Jaap Eden ice rink, Radioweg 64, 1098 NJ AMSTERDAM"
                info="A night of skating at the ice rink.  Open to all, no experience required."
                cost="€13 or FREE for the first 70 PhD candidates from the Faculty of Science who sign up. Includes skates and ticket (funded by the Science Activity Committee)."
                past="true"
            %}

            
            {% include event.html 
                name="Kayaking" 
                image_url = "https://s-media-cache-ak0.pinimg.com/236x/8f/fd/4d/8ffd4df7e19225e415289ff26b6cf306.jpg"
                map_url="https://www.google.nl/maps/place/Camping+Zeeburg+Amsterdam/@52.3668142,4.9495132,13.91z/data=!4m5!3m4!1s0x47c609386990b15f:0x70fb33781e2bed04!8m2!3d52.3653586!4d4.9595227"
                address="Camping Zeeburg, Zuider IJdijk 20, 1095 KN Amsterdam"
                time="11:00-17:00, Sunday May 29, 2016" 
                info="A day of Kayaking in and around the canals of Amsterdam."
                cost="TBD.  Less than 20 euro."
                past="true"
            %}
          
            {% include event.html 
                name="Trampoline Dodgeball" 
                image_url = "https://i.ytimg.com/vi/vHww9W4AwYY/hqdefault.jpg"
                map_url="https://www.google.nl/maps/place/VROG/@52.3495367,4.9441348,15z/data=!4m2!3m1!1s0x0:0x1e2dbee38167caba?sa=X&ved=0ahUKEwiAq6rpqvDNAhVCcBoKHXk3AAcQ_BIIjQEwDg"
                address="VROG: Kruislaan 222b, 1098 SL Amsterdam"
                time="18-20h, Tuesday 26 July, 2016" 
                info="A game of dodgeball, on trampolines.  There may be some pie."
                cost="Only 5 euro for employees in UvA Faculty of Science (Thanks to FNWI Funding)  10 euro for others."
                past="true"
            %}
            
            {% include event.html 
                name="Bike-Camping" 
                image_url = "https://sites.google.com/site/paalkampeerders/_/rsrc/1343576155616/locatiebeschrijvingen/campanula/Campanula%20%281%29.jpg"
                map_url="http://goo.gl/maps/yBZm"
                address="Near Zeewolde.  Depart by bike from Science Park"
                time="Leave at 12:00, Saturday Sept 24.  Back by Sunday afternoon. " 
                info="We'll bike to a campsite, make a fire, and set up camp.  For details, see the sign-up form."
                signup_url="https://goo.gl/forms/KGjNqWI9QloeVT0j2"
                cost="Free (though you need to buy a sleeping bag if you don't have one (~10euro))"
                past="false"
            %}
            
            {% endcomment %}
            
            {% include event.html 
                name="Paintball" 
                image_url = "http://xtreampaintball.ca/uploads/gallery/xtream_galleryimage_08.jpg"
                map_url="https://www.google.nl/maps/place/Paintball+Jungle/@52.4164895,4.8243103,11.9z/data=!4m5!3m4!1s0x47c5e39fb7f086f5:0x78b641a10ece1e8c!8m2!3d52.488085!4d4.794674?hl=en"
                address="Paintball Jungle, Wandelweg 12, Wormerveer"
                time="Saturday 8 April, 13:00" 
                info="An afternoon of paintball"
                signup_url="https://goo.gl/forms/VCJMQavnZMxwyQ6z1"
                cost="€15-35, depending on # of people signing up."
                past="true"
            %}
            
                        
            {% include event.html 
                name="Boat Trip" 
                image_url = "https://s-media-cache-ak0.pinimg.com/originals/c9/35/69/c9356916fcf93813c2e36cf8c327d9f7.jpg"
                map_url="https://goo.gl/maps/x1YbUrxTAs52"
                address="Amsterdam Roest: Jacob Bontiusplaats 1"
                time="18:00 on Friday July 14, 2017" 
                info="We go on a boat trip through Amsterdam, have some drinks and dinner on the water."
                signup_url="https://docs.google.com/forms/d/e/1FAIpQLSeiJk6h8IdQ_0gFpe7Bgu95g75nLGNGgwxfT8rrA6ENoqIzQA/viewform?usp=sf_link"
                cost="Cheap, possibly free, probably < 10 euro"
                past="false"
            %}
            
            {% comment %}
            To add a new event, just copy the block below and fill in the fields:
            {% include event.html 
                name="" 
                image_url = ""
                map_url=""
                address=""
                time="" 
                info=""
                signup_url=""
                cost=""
                past="false"
            %}
            {% endcomment %}
            
        </tr>
    </table>
    
</div>
