<td class="event-container">
    <div class="col">
        {% if include.past == "true" %}
            <h2><s>{{ include.name }}</s> (Done)</h2>
        {% else %}
            <h2>{{ include.name }}</h2>
        {% endif %}
        
        <img src="{{include.image_url}}">
        <div class="info">
        <table>
            <tr>
                <th>Location</th>
                <td>
                    <a href=" {{ include.map_url }}"  target="_blank" >
                        {{ include.address }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Time</th>
                <td>
                    {{include.time}}
                </td>
            </tr>
            <tr>
                <th>Info</th>
                <td>
                    {{include.info}}
                </td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>
                    {{include.cost}}
                </td>
            </tr>
            
            {% if include.past == "false" %}
            <tr>
                <th>Sign-up</th>
                <td>
                    Fill out the <a href="{{include.signup_url}}" target="_blank" class="blinky">sign-up form</a>
                </td>
                
            </tr>
            {% endif %}
        </table>
    </div>

        
</td>
    
