<style>
    .feature-highlights {
        display: flex;
        justify-content: space-between;
        max-width: 1000px; /* Reduced maximum width */
        padding: 10px;   /* Reduced padding */
        flex-wrap: wrap;
        margin: 0 auto 50px;
    }

    .feature-highlights .sub-container {
        flex: 1 1 calc(33.33% - 20px);
        margin: 10px;     /* Reduced margin */
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
    }

    .sub-container img.icon {
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin-bottom: 10px;
    }

    @media (max-width: 768px) {
        .feature-highlights {
            flex-direction: column;
        }
    }
</style>

<div class="feature-highlights" style="margin-top: 10rem; margin-bottom: 10rem;">
    <div class="sub-container">
        <img src="images/drone-icon.svg" alt="Logo 1" class="icon">
        <h3 style="font-size: 130%">For any drone and operation</h3>
        <p style="font-size: 110%">Compatible with commonly used drones in search and rescue, our software  adapts to any operation.</p>
    </div>
    <div class="sub-container">
        <img src="images/arrow-shrink-icon.svg" alt="Logo 2" class="icon">
        <h3 style="font-size: 130%">Never miss a clue</h3>
        <p style="font-size: 110%">Locate color and motion anomalies in real-time, revealing even the smallest objects missed by the human eye.</p>
    </div>
    <div class="sub-container">
        <img src="images/setup-icon.svg" alt="Logo 3" class="icon">
        <h3 style="font-size: 130%">Coordinate with your team</h3>
        <p style="font-size: 110%">Keep your team ready to respond by sharing images, coordinates, and live drone tracks straight to CalTopo.</p>
    </div>
    <div style="width: 100%; text-align: center; margin-top: 5rem;">
        <!-- Transparent button linking to /products.html -->
        <button class="button transparent" 
        style="width: 200px; font-size: 14px; background-color: transparent; color: #000000; border: 1px solid #000000;"
        onmouseover="this.style.backgroundColor='#1e90ff'; this.style.color='#fff'; this.style.border='1px solid #fff'"
        onmouseout="this.style.backgroundColor='transparent'; this.style.color='#000000'; this.style.border='1px solid #000000'"
        onclick="window.location.href='/products.html';">
        Learn More
        </button>
    </div>
</div>