	<!-- Footer -->
    <footer class="page-footer" id="contact-us">
        
        <div class="lead">
        
            EagleEyes is under development.  As of November 2022, we are finishing up the first prototype of the system.  If you would like to be one of the first to try this Application, please contact us.  
            
        
        </div>
        
        
    	<!-- Contact Us -->
        <div class="contact">
            <h2 class="section-heading">Contact Us</h2>
            <p><span class="glyphicon glyphicon-envelope"></span><br><a href="mailto:info@eagleeyessearch.com">info@eagleeyessearch.com</a></p>
        </div>
    </footer>