	<!-- Footer -->
    <footer class="page-footer" id="contact-us">
        
    	<!-- Contact Us -->
        <div class="contact">
<!--            <h2 class="section-heading">Contact Us</h2>-->
            <p><span class="glyphicon glyphicon-envelope"></span><br><a href="mailto:info@eagleeyessearch.com">info@eagleeyessearch.com</a></p>
            
            <a href="https://twitter.com/EagleEyesSearch?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @EagleEyesSearch</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </footer>