<!-- Don't forget to include form_styling in document head -->

    <section id="form">

        <form id="register-form" onsubmit="event.preventDefault(); submitForm(); return false;">
            <label for="name"><b>Name:</b> Your full name</label>
            <input type="text" id="name" name="name" placeholder="Firstname Lastname" required>

            <label for="team"><b>Organization Name:</b> Your team/company/agency, or enter "Individual" if you are not part of an organization</label>
            <input type="text" id="team" name="team" placeholder="Enter your organization's name" required>

            <label for="website"><b>Organization Website:</b></label>
            <input type="text" id="website" name="website" placeholder="http://www.example.com" required>

            <label for="location"><b>Location:</b> City, State/Province, Country</label>
            <input type="text" id="location" name="location" placeholder="Example Springs, Examplebama, USA" required>

            <label for="use-case"><b>What are you interested in using Eagle Eyes for?</b></label>
            <textarea id="use-case" name="use_case" placeholder="To locate ... so I can ..." rows="4" required></textarea>

            <label for="questions"><b>Questions or remarks:</b></label>
            <textarea id="questions" name="questions" placeholder="" rows="4"></textarea>

            <label for="checkboxes"> <b>Terms: </b>Please acknowledge the following:</label>
            <div class="checkboxes">
                <div class="checkbox-container">
                    <input type="checkbox" id="understand_limitations" name="understand_limitations" required>
                    <label for="understand_limitations"><span class="checkbox-label required">I understand that the Eagle Eyes system assists but doesn't replace human oversight. It may miss details a human would catch. Operators should always review the raw footage personally.</span></label>
                </div>                
                <div class="checkbox-container">
                    <input type="checkbox" id="information_correct" name="information_correct" required>
                    <label for="information_correct"><span class="checkbox-label required">I confirm that all information provided is accurate and true.</span></label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="receive_newsletter" name="receive_newsletter">
                    <label for="receive_newsletter"><span class="checkbox-label">I want to receive updates about Eagle Eyes Search.</span></label>
                </div>
                <!-- Additional checkboxes that are only shown and mandatory in register form -->
                <!-- <div class="checkbox-container">
                    <input type="checkbox" id="receive_communication" name="receive_communication" required>
                    <label for="receive_communication"><span class="checkbox-label required">I agree to receive communications specific to my registration request and related product information.</span></label>
                </div>
                <div id="additional-box-1" class="checkbox-container">
                    <input type="checkbox" id="distribution_policy" name="distribution_policy" required>
                    <label for="distribution_policy"><span class="checkbox-label required">I confirm that any licenses I may purchase in the future will be for internal use only and shall not be transferred, sold, or distributed outside of my organization.</span></label>
                </div>
                <div id="additional-box-2" class="checkbox-container">
                    <input type="checkbox" id="SAR_only" name="SAR_only" required>
                    <label for="SAR_only"><span class="checkbox-label required">I confirm that this software will be used for search and rescue purposes only.</span></label>
                </div> -->
            </div>
        </form>
    </section>

    <script>
            // This line enables Jekyll to pass the clickable parameter when including this file
        const formType = '{{ include.form_type }}';
        
        var useLocalFirebaseEmulator = getIsEmulatorFromURL();  // When running local emulator with "firebase emulators:start", set this to "true
        var hostURL = useLocalFirebaseEmulator ? 'http://127.0.0.1:5001/eagleeyessearch/us-central1' : 'https://us-central1-eagleeyessearch.cloudfunctions.net';
        


        function getIsEmulatorFromURL() {
            const urlParams = new URLSearchParams(window.location.search);
            // return urlParams.get('is_emulator') === 'true';
            // Case insensitive
            return urlParams.get('is_emulator')?.toLowerCase() === 'true';
        }

        function requestErrorHandler(jqXHR, textStatus, errorThrown) {
            $("#hang-on-message").hide();
            console.log("Error: " + errorThrown);
            console.log("Status: " + textStatus);
            console.log("Response: " + jqXHR.responseText);
            showError("Error: " + errorThrown + " Status: " + textStatus + " Response: " + jqXHR.responseText);
        }

        function showError(message) {
            // Show an error message to the user
            var errorBox = document.createElement('div');
            errorBox.classList.add('error-box');
            // Width 80% of the screen
            errorBox.style.width = '80%';
            // Center horizontally
            errorBox.style.margin = '0 auto';

            errorBox.textContent = message;
            // Append to end of 'end-of-page' div
            // document.getElementById('end-of-page').appendChild(errorBox);
            document.body.appendChild(errorBox);

            // Show the "try again" button (try-again-button) (just make it not hidden)
            // $('#try-again-button').css('display', 'block');

            // Scroll to the bottom of the page
            window.scrollTo(0, document.body.scrollHeight);
        }

        function validateCheckboxes() {
            var checkboxIds = null;
            // List of all checkbox IDs
            if (formType == 'register') {
                checkboxIds = [
                    "information_correct",
                    "receive_communication",
                    "understand_limitations",
                    "distribution_policy",
                    "SAR_only",
                ];
            } else if (formType == 'signup') {
                checkboxIds = [
                    "information_correct",
                    "understand_limitations",
                ];
            } else {
                console.log("Unknown form type: " + formType);
            }

            // Check if all checkboxes are checked
            for (var i = 0; i < checkboxIds.length; i++) {
                if (!document.getElementById(checkboxIds[i]).checked) {
                    alert("Please check all the boxes before submitting.");
                    return false; // Prevent form submission
                }
            }

            return true; // All checkboxes are checked, allow form submission
        }


        function submitForm() {
            console.log('form type is: ' + formType);

            if (formType == 'register') {
                console.log('launching processRegisterForm');
                processRegisterForm();
            } else if (formType == 'signup') {
                console.log('launching processSignupForm');
                processSignupForm();
            } else {
                console.log("Unknown form type: " + formType);
            }
        }


        function processRegisterForm() {
            // exit function when form not validated
            if (!validateCheckboxes()) { 
                console.log("Something wrong with the checkboxes");
                return;  
            }

            // Add "processing" class to the submit button
            $("#submitButton").addClass('processing');

            // Pack the form data into an object
            var formData = {};
            var formInputs = document.querySelectorAll('input[name], select[name], textarea[name]');
            for (var i = 0; i < formInputs.length; i++) {
                var input = formInputs[i];

                if (input.type === 'checkbox') {
                    // Set 'yes' if the checkbox is checked, 'no' if it's not
                    formData[input.name] = input.checked ? 'yes' : 'no';
                } else if (input.type === 'radio') {
                    // Only set the value if the radio button is checked
                    if (input.checked) {
                        formData[input.name] = input.value;
                    }
                } else {
                    // Handle all other input types
                    formData[input.name] = input.value;
                }
            }
            console.log(formData);

            sendForm(formData);
        }
        
        function sendForm(formData) {
            var fetch_url = hostURL + '/submit_register_form';

            console.log("Fetch URL: " + fetch_url);

            globalUser.getIdToken(true).then(function (idToken) {

                $.ajax({
                    url: fetch_url,
                    data: JSON.stringify(formData),
                    type: 'POST', // Changed from 'method' to 'type' for clarity, though both are acceptable. Use 'POST' since you're sending a body.
                    contentType: 'application/json', // This sets the Content-Type header to application/json
                    headers: {
                        'Authorization': 'Bearer ' + idToken
                    },
                    success: function (data) {
                        console.log("Success" + data);

                        // Remove "processing" class to the submit button
                        $("#submitButton").removeClass('processing');

                        // Show user message with link and ask them if they want to download
                        // If yes, then redirect to the link
                        // If no, then do nothing

                        // Hide the download button/div after submitting form
                        $("#form-container").hide();
                        $("#signin").hide();
                        $("#post-form").show();
                    },
                    error: function() {
                        // Remove "processing" class to the submit button
                        $("#submitButton").removeClass('processing');
                        requestErrorHandler();
                    }
                });
            });
        }

        // On load - check whether to show the emulator info box
        $(document).ready(function () {
            if (useLocalFirebaseEmulator) {
                $('#using-emulator-info').show();
            }
        });

        function processSignupForm() {

            // filePath = "gs://eagleeyessearch.appspot.com/scan_releases/EagleEyesScan_0.4.3_MacOS_arm64.zip"
            // filePath = "scan_releases/EagleEyesScan_0.4.3_MacOS_arm64.zip"

            var hostUrl = getHostUrl();
            var selectElement = document.getElementById('software_version');
            var filePath = "scan_releases/" + selectElement.value;
            var fetch_url = hostURL + '/generate_download_link?filePath=' + filePath;

            // Pack the form data into an object
            hasFormBeenShown = $("#form").is(":visible");
            console.log("Form has been shown?: " + hasFormBeenShown);
            var formData = null;
            if (hasFormBeenShown) {
                if (!validateCheckboxes()) {
                    return; // Stop the function if validation fails
                }
                // Add "processing" class to the submit button
                $("#submitButton").addClass('processing');
                var formInputs = document.querySelectorAll('input[type=text], input[type=password], input[type=checkbox], input[type=radio], select, textarea');
                formData = {};
                for (var i = 0; i < formInputs.length; i++) {
                    var input = formInputs[i];
                    if (input.type === 'checkbox' || input.type === 'radio') {
                        formData[input.name] = input.checked;
                    } else {
                        formData[input.name] = input.value;
                    }
                }
            } 

            downloadStatusSpan=$("#downloadStatus");
            statusText = "Hang on a moment, download should start automatically...";
            console.log("Back up link: " + backUpLinkOrNull);
            if (backUpLinkOrNull !== null) {
                statusText += "If it doesn't, you can click <a href='" + backUpLinkOrNull + "'>here</a> to download it manually.";
            }
            downloadStatusSpan.html(statusText);

            console.log("Checking URL: " + fetch_url);
            console.log("Fetch URL: " + fetch_url);
            globalUser.getIdToken(true).then(function (idToken) {

                $.ajax({
                    url: fetch_url,
                    data: JSON.stringify(formData),
                    type: 'POST', // Changed from 'method' to 'type' for clarity, though both are acceptable. Use 'POST' since you're sending a body.
                    contentType: 'application/json', // This sets the Content-Type header to application/json
                    headers: {
                        'Authorization': 'Bearer ' + idToken
                    },
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log("Success: " + data);
                        var downloadLink = data.url;
                        console.log("Download link: " + downloadLink);

                        // Remove "processing" class to the submit button
                        $("#submitButton").removeClass('processing');
                        // Show user message with link and ask them if they want to download
                        // If yes, then redirect to the link
                        // If no, then do nothing

                        // Hide the download button/div after submitting form
                        $("#download-button-div").hide();


                        window.location.href = downloadLink;
                        $("#signin").hide();
                        $("#form-container").hide();
                        $("#post-form").show();
                        $("#download-link").attr("href", downloadLink);
                    },
                    error: function() {
                        // Remove "processing" class to the submit button
                        $("#submitButton").removeClass('processing');
                        requestErrorHandler();
                    }
                });
            });

        }


    </script>
