<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>The Committee of Fun</h1>
            <p>Ice Skating.  Bike trips.  Bowling.  Museums.  Cafe tours.  Fishing.  Dinners.  Live Music.  Frisbee games.
                Football games.  Rock climbing.  Canoe trips.  Artsy stuff.  Kite Surfing.  Picnics on the beach.
                Picnics in the park.  Picnics everywhere.</p>
            <!--<a target="_blank" href="https://groups.google.com/forum/#!forum/committeeoffun" class="btn btn-primary btn-lg">Join the Mailing List</a>-->
        </div>
    </div>
</header>