<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">

	<!-- Open Graph -->
	<meta property="og:title" content="Eagle Eyes" />
	<meta property="og:url" content="https://www.eagleeyessearch.com/" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://eagleeyessearch.com/images/eagle_eyes_logo_2.png" />
	<meta property="og:description" content="The Drone App for Search and Rescue" />

	<!-- Twitter Theme -->
	<meta name="twitter:widgets:theme" content="light">
	
	<!-- Title &amp; Favicon -->
	<title>Eagle Eyes Search</title>
	<link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon-32x32.png' | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon-16x16.png' | relative_url }}">
	<link rel="mask-icon" href="{{ '/images/eagle_eyes_icon_rounded_filtered.png' | relative_url }}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Font: to be deleted later -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CHind+Madurai:400,500&amp;subset=latin-ext" rel="stylesheet">
	
	<!-- Font imports: new branding -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Source+Sans+3:wght@400;500;600;700&display=swap" rel="stylesheet">
	
	<!-- Brand CSS -->
	<!-- <link rel="stylesheet" href="{{ '/css/brand.css' | relative_url }}"> -->

	<!-- Css: to be deleted later? -->
	<link rel="stylesheet" href="{{ '/css/core.min.css' | relative_url }}" />
	<link rel="stylesheet" href="{{ '/css/skin.css' | relative_url }}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="shortcut icon" type="image/png" href="{{ '/images/eagle_eyes_icon_rounded_filtered.png' | relative_url }}">
	<link rel="stylesheet" href="{{ '/css/custom-styling.css' | relative_url }}" />

    <style>
        .content-grid-3 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<!-- Firebase SDK -->
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-storage.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-functions.js"></script>
	
	<!-- Enable Fathom -->
	<script src="https://cdn.usefathom.com/script.js" data-site="QAODRYUQ" defer></script>
	
	<!-- Hotjar Tracking Code for Site 5045439 (name missing) -->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:5045439,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
	<script>

		function getIsEmulatorFromURL() {
			// Just see if there's an "is_emulator=true" in the URL
			var url = new URL(window.location.href);
			var isEmulator = url.searchParams.get("is_emulator");

			return isEmulator === "true";
		}

		function getHostUrl(){
			var useLocalFirebaseEmulator = getIsEmulatorFromURL();
			var hostURL = useLocalFirebaseEmulator ? 'http://127.0.0.1:5001/eagleeyessearch/us-central1' : 'https://us-central1-eagleeyessearch.cloudfunctions.net';
			console.log('Using production URL for API calls');
			return hostURL;
		}
		$(document).ready(function() {
			$('nav.overlay-navigation a').click(function() {
				$('.overlay-navigation-wrapper').hide(); // this will hide the element
				$('body').css('overflow', 'auto');
				$('html').css('overflow', 'auto');
				$('body').removeClass('no-scroll');
				$('html').removeClass('no-scroll');
				// Hacky stuff
				// or
				//$('.v-align-middle').removeClass('v-align-middle'); // this will remove the class
			});
		});
	</script>
	
	<!-- Staging site password protection removed as requested -->
	<!-- 
	<script>
	  (function() {
	    const password = 'victoria'; // ← set your password here
	    const entered = sessionStorage.getItem('site_auth');
	
	    if (entered !== password) {
	      const input = prompt('Enter password:');
	      if (input !== password) {
	        alert('Incorrect password. Reload to try again.');
	        document.body.innerHTML = ''; // Hide page content
	      } else {
	        sessionStorage.setItem('site_auth', password);
	      }
	    }
	  })();
	</script>
	-->

	<!-- Global Firebase Initialization -->
	<script>
		// Initialize Firebase only once globally
		if (!window.firebaseInitialized) {
			window.firebaseInitialized = true;
			
			if (!firebase.apps.length) {
				try {
					firebase.initializeApp({
						apiKey: "AIzaSyAL9w9qClktCNFM1XSfo_HB59nU6zHI0bk",
						authDomain: "eagleeyessearch.firebaseapp.com",
						projectId: "eagleeyessearch",
						storageBucket: "eagleeyessearch.appspot.com",
						messagingSenderId: "983592831720",
						appId: "1:983592831720:web:57b3880d0185ea3110575d",
						measurementId: "G-J057SPR81M"
					});
					console.log('Firebase initialized globally in head.html');
					
					// Configure emulators if requested
					const urlParams = new URLSearchParams(window.location.search);
					const useEmulator = urlParams.get('is_emulator') === 'true';
					
					if (useEmulator) {
						console.log('Using Firebase emulators globally');
						if (firebase.auth) {
							firebase.auth().useEmulator('http://localhost:9099');
						}
						if (firebase.storage) {
							firebase.storage().useEmulator('http://localhost:9199');
						}
						if (firebase.firestore) {
							firebase.firestore().useEmulator('localhost', 8080);
						}
						if (firebase.functions) {
							firebase.functions().useEmulator('localhost', 5001);
						}
					}
					
					// Setup a global auth state listener
					firebase.auth().onAuthStateChanged(function(user) {
						console.log('Global auth state changed:', user ? 'User signed in' : 'User signed out');
						// Dispatch a custom event that components can listen for
						document.dispatchEvent(new CustomEvent('authStateChanged', { 
							detail: { user: user }
						}));
					});
				} catch (error) {
					console.error('Firebase initialization error:', error);
				}
			}
		}
	</script>

</head>
