<div class="section-container">
    <h3 class="pb-40" style="text-align: center">Learn More</h3>
    <p class="lead" style="max-width: 800px; margin: 0 auto; text-align: center;">For detailed setup instructions, best practices, and troubleshooting tips, please refer to the official manuals for both Eagle Eyes Scan and Eagle Eyes Pilot below.</p>
    <br>
    <div style="text-align: center;">
        <a href="/pilot.html" class="button rounded no-page-fade no-margin-bottom learn-more" style="--blue-highlight: #1e90ff;">Eagle Eyes Pilot manual</a>
        <a href="/scan.html" class="button rounded no-page-fade no-margin-bottom learn-more" style="--blue-highlight: #1e90ff; margin-left: 5rem;">Eagle Eyes Scan manual</a>
    </div>
</div>