<!-- Include Firebase SDK -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>

<!-- Include form_buttons_and_boxes.scss (it's in scss/form_buttons_and_boxes.scss) but we need to get it in liquid -->
<style src="/css/form_buttons_and_boxes.css"></style>
<link rel="stylesheet" href="/css/form_buttons_and_boxes.css">