    <!-- Overlay Navigation Menu -->
	<div class="overlay-navigation-wrapper enter-right" data-no-scrollbar data-animation="scale-in">
		<div class="overlay-navigation-scroll-pane">
			<div class="overlay-navigation-inner">
				<div class="v-align-middle">
					<div class="overlay-navigation-header row collapse full-width">
						<div class="column width-12">
							<div class="navigation-hide overlay-nav-hide">
								<a href="#">
									<span class="icon-cancel"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="row collapse full-width no-page-fade">
						<div class="column width-12">
							<nav class="overlay-navigation nav-block left">
								{% include navbar-pages.html %}
							</nav>
						</div>
					</div>
					<div class="overlay-navigation-footer row full-width center">
						<div class="column width-12 no-padding">
							<p class="copyright">&copy; 2025 Eagle Eyes Search.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Lets convert the above (TRIGGER REBUILD AGAIN) -->

    <!-- Header -->
    <header class="header header-absolute header-fixed-on-mobile header-transparent" data-helper-in-threshold="200" data-helper-out-threshold="500" data-sticky-threshold="200" data-bkg-threshold="100" data-compact-threshold="100">
        <!-- Lets make the navbar background 50% opaque -->
        <div class="header-inner">
            <div class="row nav-bar">
                <div class="column width-12 nav-bar-inner">
                    <div class="logo">
                        <div class="logo-inner">
                            <a href="index.html"><img src="images/eagle_eyes_flat_logo_2.png" alt="Eagle Eyes Dark Logo" /></a>
                            <a href="index.html"><img src="images/eagle_eyes_flat_logo_2.png" alt="Eagle Eyes Logo" /></a>
                        </div>
                    </div>
                    <nav class="navigation nav-block secondary-navigation nav-right">
                        <ul>
                            <li>
                                <!-- Button to close video if it's playing -->
                                <button id="buttonCloseVideo" style="position: absolute; top: 10px; right: 30px; cursor: pointer; background-color: lightgray; color: black; z-index:10000; display:none; white-space: nowrap;" onclick="hideVideo()">Close Video</button>
                            </li>
                            <li>
                                <!-- Replace the sign-in dropdown with a static "Get Eagle Eyes" button -->
                                <div class="v-align-middle">
                                    <a href="./account.html" class="button small rounded no-page-fade no-margin-bottom" style="border: 1px solid #fff;">Get Eagle Eyes</a>
                                </div>
                            </li>
                            <li class="aux-navigation hide">
                                <!-- Aux Navigation -->
                                <a href="#" class="navigation-show overlay-nav-show nav-icon no-page-fade">
                                    <span class="icon-menu"></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav class="navigation nav-block primary-navigation nav-center">
                        {% include navbar-pages.html %}
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <script>
        function hideVideo() {
            // Your existing code to hide video
        }
    </script>