<ul>
    <li>
        <a href="./products.html" class="no-page-fade">Products</a>
    </li>
    <li>
        <a href="./pricing.html" class="no-page-fade">Pricing</a>
    </li>
    <li>
        <a href="./services.html" class="no-page-fade">Services</a>
    </li>
    <li>
        <a href="./faq.html" class="no-page-fade">Learn More</a>
    </li>
    <li>
        <a href="./contact.html" class="no-page-fade">Contact</a>
    </li>
    <li>
        <a href="./account.html" class="no-page-fade">Account</a>
    </li>
</ul>