<ul>
    <li>
        <a href="/index.html" class="no-page-fade">Home</a>
    </li>
    <li>
        <a href="/pricing/" class="no-page-fade">Pricing</a>
    </li>
    <li>
        <a href="/services.html" class="no-page-fade">Services</a>
    </li>
    <li>
        <a href="/faq.html" class="no-page-fade">FAQ</a>
    </li>
    <li>
        <a href="/contact.html" class="no-page-fade">Contact</a>
    </li>
    <li>
        <a href="/account.html" class="no-page-fade">Account/Download</a>
    </li>
</ul>