<ul>
    <li>
        <a href="{{ site.baseurl }}/" class="no-page-fade">Home</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/pricing/" class="no-page-fade">Pricing</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/services/" class="no-page-fade">Services</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/faq/" class="no-page-fade">FAQ</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/contact/" class="no-page-fade">Contact</a>
    </li>
    <li>
        <a href="{{ site.baseurl }}/account/" class="no-page-fade">Account/Download</a>
    </li>
</ul>