<style>
    .subscribe {
        flex: 1;
        font-size: 14px;
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        border-radius: 4px;
        transform: translateY(3px);
    }
</style>


<div style="margin-top: 20rem; margin-bottom: 20rem;">
    <h3 class="pb-40" style="text-align: center; margin-bottom: 0px;">Subscribe to our newsletter</h3>
    <div class="centered-feature bkg-grey-ultralight">
        <div id="newsletter-container" style="max-width:600px; margin:0 auto; text-align:center;">
            <h4 style="margin-bottom:10px; text-align:center;">Get the latest news and product releases sent to your inbox.</h4>
            <br>
            <form id="newsletter-signup" onsubmit="submitNewsletter(event)" style="display: flex; gap: 50px;">
            <input class="subscribe" type="email" name="email" placeholder="Your email" required >
            <!-- Honeypot field (hidden from users) -->
            <input type="text" name="honeypot" value="" style="display: none;">
            
            {% include button-black.html button_type='submit' button_text='Subscribe' %}

            </form>
        </div>
    </div>
</div>