<div class="pricing-table bkg-grey-ultralight">
    <div><h3 class="weight-bold mb-30" style="text-align: center; margin-bottom: 0px;">Pro Pricing</h3></div>
    <div style="text-align: center; font-size: 85%; font-style: italic; margin-bottom: 20px;">All prices are in USD. No auto-renewals.</div>
    <div class="pricing-header">
        <div class="keys"></div> <!-- Empty cell for alignment -->
        <div class="one-week"><h4>1 Week</h4></div>
        <div class="three-months"><h4>3 Months</h4></div>
        <div class="one-year"><h4>1 Year</h4></div>
    </div>
    <div id="pricing-rows-container"></div> <!-- Dynamic rows will be appended here -->
    <div style="font-style: italic; text-align: center; font-size: 85%; margin-top: 15px;">
        * A key unlocks the license on a single device. Once issued, keys cannot be revoked or transferred to another device.
    </div>
</div>