<style>
    .pricing-wrapper {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .pricing-box {
      display: flex;
      flex-direction: column;
      min-height: 350px;      /* Overall height */
      padding: 2rem 1.5rem;   /* Extra padding for top & bottom spacing */
      border: none;
      border-radius: 4px;     /* Slightly rounded corners */
      flex: 1 1 calc(20% - 2rem);
      box-sizing: border-box;
      min-width: 150px;
      text-align: center;
      background-color: var(--bkg-grey-ultralight, #f5f5f5);
    }

    .pricing-box.trial, .pricing-box.trial h2 {
      background-color: var(--bkg-grey-ultralight, #7d7d7d);
      color: #fff;
    }

    .pricing-box h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .pricing-box p {
      margin: 1rem 0;
      line-height: 1.5;
      font-size: 1.6rem;
    }
    .pricing-box button {
      margin-top: auto; /* Pushes the button to the bottom */
      padding: 10px 20px;
      font-size: 1.6rem;
      border: none;
      background-color: #1e90ff;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .pricing-box button:hover {
      background-color: #0c70d2;
      transform: scale(1.05);
    }
    @media (max-width: 768px) {
      .pricing-wrapper {
        flex-direction: column;
      }
      .pricing-box {
        flex: 1 1 100%;
      }
    }
  </style>
  
  <div style="margin-top: 20rem; margin-bottom: 5rem;">
    <h3 style="text-align: center; margin-bottom: 5rem;">Pricing Options</h3>
    <section class="section-container" style="padding: 0 0 4rem 0;">
      <div class="pricing-wrapper">
        <!-- Box for 1 Device -->
        <div class="pricing-box trial">
            <h2>Try for free</h2>
            <p>30 days</p>
            <p></p>
            <button>Request trial</button>
          </div>
        <div class="pricing-box">
          <h2>1 Device</h2>
          <p>1 year, does not autorenew</p>
          <p>USD $400</p>
          <p>does not autorenew</p>
          <p></p>
          <p>For individual use</p>
          <button>Buy</button>
        </div>
        <!-- Box for 4 Devices -->
        <div class="pricing-box">
          <h2>4 Devices</h2>
          <p>USD $1000</p>
          <p>does not autorenew</p>
          <p></p>
          <p>For small teams</p>
          <button>Buy</button>
        </div>
        <!-- Box for 10 Devices -->
        <div class="pricing-box">
          <h2>10 Devices</h2>
          <p>USD $2000</p>
          <p>does not autorenew</p>
          <p></p>
          <p>For larger drone teams</p>
          <button>Buy</button>
        </div>
        <div class="pricing-box">
            <h2>10+ devices</h2>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <button>Contact us</button>
          </div>
      </div>
    </section>
  </div>