<div class="section-container">
    <div class="section-block feature" id="pilot">
        <div class="media">
            <div class="media-inner">
                <iframe src="https://streamable.com/e/tw9zs8?loop=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="content" style="text-align: center;">
            <h3 class="feature-title" style="margin-bottom: 1rem;"><span class="weight-bold">Eagle Eyes Pilot:</span> All-in-one solution for SAR drone pilots</h3>
            <p class="lead" style="font-size: 115%;">
                A DJI drone piloting app that runs directly on the controller. Comes with color and motion anomaly detection and CalTopo integration for live drone tracking and uploading images along with their coordinates. Currently in beta (launching soon) and supporting select DJI drones.
            </p>
            <p>Available for      <img src="images/android_logo.png" alt="Android" style="max-height: 1.8rem; vertical-align: top;"></p>
            <div style="text-align: center;">
                <a href="/get-eagleeyes.html" class="button rounded no-page-fade no-margin-bottom" style="--blue-highlight: #1e90ff;">Get Eagle Eyes</a>
                <a href="#features" class="button rounded no-page-fade no-margin-bottom learn-more" style="--blue-highlight: #1e90ff; margin-left: 5rem;">Learn more</a>
            </div>
        </div>
    </div>


    <div class="section-block feature" id="scan" style="padding-top: 0;">
        <div class="media">
            <div class="media-inner">
                <iframe src="https://streamable.com/e/udf9nd?loop=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="content" style="text-align: center;">
            <h3 class="feature-title" style="margin-bottom: 1rem;"><span class="weight-bold">Eagle Eyes Scan:</span> Rapid, in-depth analysis of aerial images & video</h3>
            <p class="lead" style="font-size: 115%;">A Windows and macOS application for rapidly investigating aerial footage in detail on a larger display. Analyze live or recorded footage with zoom, pause, and replay, and filter detections by uniqueness or closeness to a preset color. Works without an internet connection.</p>
            <p>Available for      <img src="images/windows_logo.png" alt="Windows" style="max-height: 2.2rem; vertical-align: middle;"><img src="images/macos_logo.png" alt="macOS" style="max-height: 2.4rem; vertical-align: middle;"></p>
            <div style="text-align: center;">
                    <a href="/get-eagleeyes.html" class="button rounded no-page-fade no-margin-bottom" style="--blue-highlight: #1e90ff;">Get Eagle Eyes</a>
                    <a href="#features" class="button rounded no-page-fade no-margin-bottom learn-more" style="--blue-highlight: #1e90ff; margin-left: 5rem;">Learn more</a>
            </div>
        </div>
    </div>
</div>