<style>
    .explainer {
        display: none;
    }

    /* Style the plus/minus signs */
    .column-drowpdown .toggle {
        cursor: pointer;
        font-size: 2rem; /* Make the signs larger */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; /* Ensure it takes the full height of the container */
        padding-right: 10px; /* Add padding to the right */
    }

    /* Add a class for the minus sign */
    .column-drowpdown .toggle.minus {
        content: "-";
    }

    .section-block.feature {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row; /* Default to row layout */
    }

    .section-block.feature .content {
        flex: 0 0 35%; /* Adjust flex-basis to 35% */
        max-width: 35%; /* Ensure it doesn't exceed 35% */
        padding: 1em;
        text-align: justify;
    }

    .section-block.feature .media {
        flex: 0 0 50%; /* Adjust flex-basis to 55% */
        max-width: 45%; /* Ensure it doesn't exceed 55% */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-block.feature .media-inner {
        width: 100%;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        position: relative;
        border: 1px solid black; /* Move border styling here */
    }

    .section-block.feature .media img,
    .section-block.feature .media iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .section-container {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 0; /* or decrease the value if it's not zero */
        padding-bottom: 0; /* or decrease the value if it's not zero */
    }

    /* Media query for narrow screens */
    @media (max-width: 768px) {
        .section-block.feature {
            flex-direction: column; /* Stack content in a column */
            align-items: center; /* Center items */
            text-align: center; /* Center text */
            padding: 0; /* Reset padding for mobile view */
        }

        .section-block.feature .content,
        .section-block.feature .media {
            width: 100%; /* Full width for mobile view */
            max-width: 100%; /* Ensure it takes the full width */
            padding: 1em; /* Add padding */
        }

        .section-block.feature .content h2 {
            font-size: 1.5em; /* Adjust title size if needed */
            margin-bottom: 1em;
        }

        .section-block.feature .content p {
            font-size: 1em; /* Adjust text size if needed */
            text-align: justify;
            margin-bottom: 1em; /* Reduce space below text */
        }

        .section-block.feature .media {
            margin-bottom: 1em; /* Reduce whitespace */
        }

        .section-container {
            margin-top: 5em; /* Add space above section containers */
            margin-bottom: 1em; /* Reduce whitespace between sections */
        }

        .v-align-middle > .button {
            display: none;
        }

        .feature-title {
            text-align: center;
        }
    }

    /* Media query for screens wider than 769px */
    @media (min-width: 769px) {
        #scan .content {
            order: 1; /* Move the text to the right */
        }

        #scan .media {
            order: 2; /* Move the image to the left */
        }

        #pilot .content {
            order: 1; /* Keep the text on the left */
        }

        #pilot .media {
            order: 2; /* Keep the video on the right */
        }

        /* Base styles for the feature section */
        .section-block.feature .content h2 {
            font-size: 3rem; /* Default font size */
            /* Add responsive font sizing */
            font-size: calc(1.5rem + 1vw); /* Responsive font size */
        }

    }
</style>