<label for="trial" class="required">How do you plan to evaluate the success of this 30-day trial?</label>
<input type="text" id="trial" name="trial" placeholder="" style="margin-bottom: 15px; margin-top: 0px;" required>
<br/>
<label class="required" style="margin-bottom: 5px;">If the trial is a success, what license are you interested in buying? See our <a href="https://www.eagleeyessearch.com/scan2.html" target="_blank">product page</a> for pricing.</label>
<div class="radio-group" style="margin-bottom: 15px; margin-top: 0px;">
    <div>
        <input type="radio" id="option1" name="license" value="3months_1device" required>
        <label for="option1">3 months - 1 device</label>
    </div>
    <div>
        <input type="radio" id="option2" name="license" value="1year_1device" required>
        <label for="option2">1 year - 1 device</label>
    </div>
    <div>
        <input type="radio" id="option3" name="license" value="1year_4devices" required>
        <label for="option3">1 year - 4 devices</label>
    </div>
    <div>
        <input type="radio" id="option4" name="license" value="1year_10devices" required>
        <label for="option4">1 year - 10 devices</label>
    </div>
    <div>
        <input type="radio" id="option4" name="license" value="1year_20devices" required>
        <label for="option4">1 year - 20 devices</label>
    </div>
</div>


