

<div id="whatitis">
    <h1>What it is</h1>
    
    <div class="lead">
    EagleEyes is an Android (and future iOS) application for piloting DJI drones.  It is being designed to help Search and Rescue teams locate missing persons.  In addition to normal drone-piloting functions, EagleEyes can enhance the live video stream to bring small but potentially important objects to the attention of the operator.  It does this by looking for colours and motion in a scene that stand out from the background. This can help pick out objects that a human operator could easily miss otherwise.  
    <br/><br/>
        
    Scroll horizontally to view different images.  Tap "Detections" or "Warp" to see the different ways that EagleEyes can bring interesting objects to the attention of the operator.  Best viewed horizontally on mobile.
    
    </div>
        <br/>
    
    <div class="demo_container" style="width:100%">
        
        
        <script type="text/javascript">
//            $(".demo_container").css('background-color', 'blue')
        
//            alert("Hello");
            var scrollEventHandler = function()
            {
              window.scrollTo({"left": 0});
//                alert("Scroll event");
                
//                $(".demo_container").css('background-color', 'red')
//                JavaScriptsetTimeout(function () {window.scrollTo({"left": 0}); }, 100);
            }
            window.onscroll = scrollEventHandler
//            window.addEventListener("scroll", scrollEventHandler, false);
//            window.addEventListener("scrollstart", scrollEventHandler, false);
//            window.addEventListener("scrollstop", scrollEventHandler, false);
        </script>
        

        <div class="spacer_cell"></div>
        
        {% for i in (0..4) %}
        
            <script type="text/javascript">

                $(document).ready(function(){
                    $( "#raw{{i}}" ).click(function() {
                        $(".img_boxed{{i}}").css("display", "none")
                        $(".img_warped{{i}}").css("display", "none")
                        window.scrollTo({"left": 0});
//                        JavaScriptsetTimeout(function () { window.scrollTo({"left": 0}); }, 100);
        //              alert( "Handler for .click() called." );
                    });
                    $( "#box{{i}}" ).click(function() {
                        $(".img_boxed{{i}}").css("display", "inline-block")
                        $(".img_warped{{i}}").css("display", "none")
                        window.scrollTo({"left": 0});
//                        JavaScriptsetTimeout(function () { window.scrollTo({"left": 0}); }, 100);
                    });
                    $( "#warp{{i}}" ).click(function() {
                        $(".img_boxed{{i}}").css("display", "none")
                        $(".img_warped{{i}}").css("display", "inline")
                        window.scrollTo({"left": 0});
//                        JavaScriptsetTimeout(function () { window.scrollTo({"left": 0}); }, 100);
//                        JavaScriptsetTimeout(function () { {"left": 0}; }, 100);
//                        JavaScriptsetTimeout(function () { {"left": 0}; }, 100);
                    });
                });

            </script>
        
            <div class="demo_cell">
                
                <div class="switch-toggle switch-3 switch-candy">
                  <input id="raw{{i}}" name="state-d{{i}}" type="radio" checked="checked" />
                  <label for="raw{{i}}" onclick="">Raw</label>
                  <input id="box{{i}}" name="state-d{{i}}" type="radio"/>
                  <label for="box{{i}}" onclick="">Detections</label>
                  <input id="warp{{i}}" name="state-d{{i}}" type="radio" />
                  <label for="warp{{i}}" class="disabled" onclick="">Warped</label>
                </div>

                <div class="imswitch">
                    <img class="img_raw img_raw{{i}}", src="/images/demos/image_{{i}}.jpg"/>
                    <img class="img_boxed img_boxed{{i}}", src="/images/demos/image_{{i}}_boxed.jpg"/>
                    <img class="img_warped img_warped{{i}}", src="/images/demos/image_{{i}}_warped.jpg"/>
                </div>
                <br/>
            </div>

        {% endfor %}

<!--
        <div class="demo_cell">
            <div class="caption">
                <b> Image-warping on live video </b>
                This is a screen recording from the EagleEyes app while flying the drone.   In this demo, EagleEyes uses pixel-warping to enhance a hard-to-see person.
            </div>
 
             <iframe src="https://drive.google.com/file/d/135S_yoNKx8hvhuGxv8Dom44yshVIoNmO/preview" width="100%" style="aspect-ratio:1.78" allow="autoplay"></iframe>
            <br/>
        </div>
-->
        
        <div class="spacer_cell"/>
        
    </div>
    
</div>
    
    
</div>
