

<div id="whatitis">
    <h1>What it is</h1>
    
    <div class="lead">
    EagleEyes is an android application for piloting DJI drones.  It is being designed to help Search and Rescue teams locate missing persons.  In addition to normal drone-piloting functions, the App can enhance the live video stream to bring small but potentially important objects to the attention of the operator.
    <br/><br/>
    
    It does this by looking for anomolous colours in a scene and "inflating" their pixels to make them jump out to the operator. 
    <br/><br/>
    
    Move the slider to the left to see the raw image enhanced by EagleEyes (best viewed in horizontal orientation if on mobile)
    </div>
    
    <div class="container slidercontainer">
        <div class='img background-img'></div>
        <div class='img foreground-img'></div>
        <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
        <div class='slider-button'></div>
      </div>
</div>
