

<div id="whatitis">
    <h1>What it is</h1>
    
    <div class="lead">
    EagleEyes is an android application that assists a drone operator locate small but unusual objects in a scene. 
        <br/><br/>
    
    It does this by looking for anomolous colours in a scene and make them jump out to the operator. 
         <br/><br/>
    
    Move the slider to the left to see the raw image enhanced by EagleEyes.  
    
    </div>

    
    <div class="container slidercontainer">
        <div class='img background-img'></div>
        <div class='img foreground-img'></div>
        <input type="range" min="1" max="100" value="50" class="slider" name='slider' id="slider">
        <div class='slider-button'></div>
    
      </div>
</div>
