.banner {
  position: relative;
  height: 180px;
  width: 100%;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('/images/eagle_eyes_website_header_bg.jpg') no-repeat center;
  background-size: cover;
  filter: brightness(50%);
  z-index: 1;
}

.banner-text, .banner-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.banner-link img {
  width: 100px;
  height: auto;
  align-content: flex-start;
  z-index: 2;
  position: absolute;
  top: 20%;
}

.lead {
  width: 80%;
  margin: auto;
} 