<!DOCTYPE html>
<html>
  <!-- Import blogpage.scss -->
  <head>
    <link href="{{ site.baseurl }}/css/blogpage.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/eagle_eye_favicon.png?">
    <title>{%- if page.title -%}{{page.title}} | {{site.title}}{%- else -%}{{site.title}}{%- endif -%}</title>
  </head>

<body>

  <header class="post-header">
    <!-- Show post-image as a banner on the top, limited to 300 pix in height, and darkened out by 50% -->
    {% if page.image %}
        <div class="post-image" style="background-image: url({{ page.image }}); height:300px; background-size:cover; background-position:center; filter: brightness(50%);"></div>
    {% endif %}


    <a href="{{ site.baseurl }}/"><img src="{{site.baseurl}}/images/back_to_eagleeyes.png" alt="Back to main site" style="position:absolute; top:5px; left:5px; width: 100px; height: auto;" ></a>

    <!-- Overlay title  -->
    <div class="post-title" style="position:absolute; top:0; left:20%; width:60%; height:300px; display:flex; justify-content:center; align-items:center;">
      <h1 style="color:white; font-size:3em;">{{ page.title }}</h1>
    </div>

  </header>

  <div class="post-content">
    {% if page.date %}
    <b>{{ page.date | date: "%-d %B %Y" }}, by {{page.author}}</b>
    {% endif %}
    {{ content }}
  </div>

  <!-- Line break, and link back to main site -->


</body>

</html>

